.accordion {
  width: 100%;
  margin: 0 auto;
  font-family: HelveticaNeueCyr_Light;

  .accordion_item {
    margin-bottom: 1px;
    position: relative;
  }

  .title_block {
    font-weight: 400;
    font-size: 42px;
    color: #575756;
    cursor: pointer;
    padding: 39px 55px 39px 63px;
    transition: all 0.2s linear 0;
    border-top: 1px solid #C6C6C5;
    position: relative;

    &:before {
      content: '+';
      height: 28.73px;
      width: 28.73px;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      line-height: 23px;
    }
  }

  .active_block .title_block:before {
    content: '-';
    top: 50%;
    transform: translate(0, -50%);
  }

  .title_block:hover {

  }

  .active_block .title_block {
    color: #575756;
  }

  .info {
    display: none;
    padding: 5px 0 40px 0;
    overflow: hidden;
    font-size: 29px;
    line-height: 34px;
    color: #575756;
  }

  .info_item {

  }
}