.btn {
  background: #FF756A;
  border-radius: 25px;
  font-size: 25px;
  color: #FFFFFF;
  padding: .7rem 2.2rem;
  display: inline-flex;

  &.btn_344_78 {
    padding: 1.12rem 3.57rem;
  }

  &.btn_f_s_38 {
    font-size: 38px;
  }

  &.btn_m_b_120_center {
    margin: 120px auto 0 auto;
  }

  &:hover {
    background: #FF4B48;
  }

  &.btn_no_bg {
    border: 2px solid #FF7667;
    border-radius: 25px;
    background: none;
    color: #FF7667;

    &:hover {
      background: #FF756A;
      color: #fff;
    }

    &:active {
      background: #FF4B48;
      color: #fff;
    }
  }
}