@font-face {
  font-family: HelveticaNeueCyr_Medium;
  /* имя шрифта для CSS правил */
  src: local("HelveticaNeueCyr-Medium"), url(../fonts/HelveticaNeueCyr-Medium.ttf);
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: HelveticaNeueCyr_Black;
  /* имя шрифта для CSS правил */
  src: local("HelveticaNeueCyr-Black"), url(../fonts/HelveticaNeueCyr-Black.ttf);
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: HelveticaNeueCyr_Light;
  /* имя шрифта для CSS правил */
  src: local("HHelveticaNeueCyr-Light"), url(../fonts/HelveticaNeueCyr-Light.ttf);
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: HelveticaNeueCyr_Roman;
  /* имя шрифта для CSS правил */
  src: local("HelveticaNeueCyr-Roman"), url(../fonts/HelveticaNeueCyr-Roman.ttf);
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: HelveticaNeueCyr_Bold;
  /* имя шрифта для CSS правил */
  src: local("HelveticaNeueCyr-Bold"), url(../fonts/HelveticaNeueCyr-Bold.ttf);
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: HelveticaNeueCyr_LightItalic;
  /* имя шрифта для CSS правил */
  src: local("HelveticaNeueCyr-LightItalic"), url(../fonts/HelveticaNeueCyr-LightItalic.ttf);
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}