footer {
  text-align: center;
  padding: 90px 0;
  background: #fff;

  .copyright {
    color: #C6C6C5;
    font-size: 29px;
    font-family: HelveticaNeueCyr_Roman;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;

    li {
      margin-right: 100px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #6F6F6E;
        font-size: 26px;
      }
    }
  }
}


.menu_icon {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }

    a {
      svg {
        width: 44px;
      }
    }

    &:hover svg {
      opacity: .7;
    }
  }
}