.max-width_874 {
  max-width: 874px;
}

.max-width_990 {
  max-width: 990px;
}

.max-width_800 {
  max-width: 800px;
}

.max-width_1095 {
  max-width: 1095px;
}

.max-width_600 {
  max-width: 600px;
}

.max-width_660 {
  max-width: 660px;
}

.max-width_748 {
  max-width: 748px;
}

.margin_l_auto {
  margin-left: auto;
}

.margin_0_auto {
  margin: 0 auto;
}

.border-radius-initial {
  border-radius: initial !important;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-50 {
  border-radius: 50% !important;
}

.border-radius-16 {
  border-radius: 16px !important;
}

.global--max-width {
  max-width: 600px !important;
}

.margin-t-180 {
  margin-top: 180px;
}

.global--line-before-calc-width-30 {
  position: relative;

  &:before {
    content: '';
    width: calc(100% - 30px);
    height: 1px;
    background: #EDEDED;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
  }
}

.global--line-before-calc-width-30-plus {
  position: relative;

  &:before {
    content: '';
    width: calc(100% + 30px);
    height: 1px;
    background: #EDEDED;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
  }
}

.global--line-before-calc-dashed {
  position: relative;

  &:before {
    content: '';
    width: calc(100% + 9999px);
    border-top: 1px dashed #E9E9E9;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
  }
}

.margin_60_auto_0_auto {
  margin: 60px auto 0 auto;
}

.img_cover_h100 {
  img {
    object-fit: cover;
    height: 100%;
  }
}

.z-index_99 {
  position: relative;
  z-index: 99;
}

// Блок в не контейнера
.wide_section {
  position: relative;
  /* растягиваем по ширине окна */
  width: 100vw;
  /* центрируем */
  left: 50%;
  transform: translate(-50%);
}

.border_right {
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 180px;
    background: rgba(194, 194, 194, .3);
  }

  &.border_right_1 {
    &:after {
      height: 103px;
    }
  }

  &.border_right_2 {
    &:after {
      height: 50px;
    }

    &.border_right_2_1 {
      &:after {
        background: #F7F7F7;
      }
    }
  }

  &.border_right_3 {
    &:after {
      height: 100%;
    }
  }
}

.margin-t-negative-175 {
  margin-top: -175px;
}

.same-height {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.height-48 {
  height: 48px;
}

.scroll-x {
  position: relative;
  padding-bottom: 15px;
}

.background {
  background: #5063FF !important;
}

.background-2 {
  background: #FF7078 !important;
}

.background-3 {
  background: #f7f7f7 !important;
}

.background-4 {
  background: #fff;
}

.h-100-percent {
  height: 100%;
}

.border-bottom {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #F7F7F7;
}

.w-100-percent {
  width: 100%;
}

.w-90-percent {
  width: 90%;
}

.border_dashed {
  border: 1px dashed #E9E9E9;
}

.border_none {
  border: none !important;
}

.border_b_dashed {
  border-bottom: 1px dashed #E9E9E9;
}

.border_b_gray {
  border-bottom: 1px solid rgba(194, 194, 194, .3);
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.w-110 {
  width: 110px;
}

.overflow-h {
  overflow: hidden;
}

.padding-l-96 {
  padding-left: 66px;
  color: rgb(86, 164, 255);
}


.revers_indent_30 {
  padding-left: 0;
  padding-right: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.border_color__very_light_gray {
  border-color: #ededed !important;
}

.wrapper-flex {
  display: flex;
}

.wrapper-flex-a-center-j-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}