.module-card-row {
  .row {

    .item {
      position: relative;

      .title {
        font-size: 44px;
        line-height: 53px;
        margin-bottom: 24px;
        font-family: HelveticaNeueCyr_Bold;
      }

      blockquote {
        font-size: 42px;
        line-height: 51px;
        font-family: HelveticaNeueCyr_LightItalic;
        margin-bottom: 10px;
      }

      .author {
        font-size: 42px;
        line-height: 51px;
        font-family: HelveticaNeueCyr_Roman;
      }

      .number {
        font-size: 219px;
        line-height: 293px;
        color: #ECECEC;
        font-family: HelveticaNeueCyr_Bold;
        position: absolute;
        left: -32px;
        top: -16px;
        z-index: -1;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

    }
    &:nth-child(odd) {
      .item {
        .number {
          position: absolute;
          right: 60px;
          top: 0;
          left: auto;
        }
      }
    }
  }
}