.module-card {
  [class*="col-"] {
    display: flex;
    position: relative;

    //&:first-child .item {
    //  &:before {
    //    content: '';
    //    position: absolute;
    //    width: 314px;
    //    height: 314px;
    //    background: #FFD6B1;
    //    border-radius: 50%;
    //    left: 0;
    //    top: 0;
    //  }
    //}
  }

  .item {
    text-align: center;
    padding: 80px 55px;
    background: #F6F5F5;
    box-shadow: 0px 4px 8px #B2B2B2BF;
    border-radius: 25px;
    width: 476px;
    margin: 0 auto;

    .title {
      color: #ED756A;
      font-size: 29px;
      line-height: 35px;
      position: relative;
      margin-bottom: 63px;
      margin-top: 13px;

      &:before {
        content: '';
        position: absolute;
        width: 72px;
        height: 5px;
        left: 50%;
        bottom: -19.5px;
        transform: translate(-50%, 0);
        background: #ED756A;
      }
    }

    .content {
      color: #ED756A;
      font-size: 29px;
      line-height: 35px;
      font-family: HelveticaNeueCyr_Roman;
    }
  }

  // Why Trust Us?
  &.module-card_1 {
    .item {
      background: none;
      box-shadow: none;
      border-radius: initial;
      padding-top: 0;
      padding-bottom: 0;

      .icon {
        width: 128px;
        margin: 0 auto;
      }

      .title {
        color: #3C3C3B;
        margin-bottom: 70px;
        margin-top: 29px;

        &:before {
          bottom: -38px;
        }
      }

      .content {
        color: #3C3C3B;
      }
    }
  }

  // testimonials.php
  &.module-card_2 {
    padding-top: 145px;
    [class*="col-"] {
      margin-bottom: 80px;
    }
  }
}