.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-down(sm) {
    margin-top: 50px;
  }

  li {
    margin-right: 30px;
    @include media-breakpoint-down(lg) {
      margin-right: 20px;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }

    &:nth-last-child(2) {
      margin-right: 0;
    }

    &.active, &:hover {
      a {
        background: #FF7667;
        color: #fff;
        transition: .3s;
      }
    }

    a {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      transition: .3s;
      font-size: 16px;
      color: #B1B1B1;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-down(sm) {
        width: 23px;
        height: 23px;
        font-size: 12px;
      }
    }
  }

  .prev {
    background: url("../images/4. Testimonials/pagination_left.svg") no-repeat center center;
    width: 10px;
    height: 17px;
    display: block;
    margin-right: 30px;
    transition: .3s;
    @include media-breakpoint-down(lg) {
      margin-right: 20px;
    }

    &:hover {
      opacity: .7;
      transition: .3s;
    }
  }

  .next {
    background: url("../images/4. Testimonials/pagination_right.svg") no-repeat center center;
    width: 10px;
    height: 17px;
    display: block;
    transition: .3s;
    margin-left: 30px;
    @include media-breakpoint-down(lg) {
      margin-left: 20px;
    }

    &.no_pages {
      background: url("../images/icons/pagination-no-pages.svg") no-repeat center center;
      transform: rotate(360deg);
      box-shadow: 0px 4px 45px rgba(225, 227, 232, 0.5);
      border-radius: 50px;

      &:hover {
        cursor: default;
        opacity: 1;
      }
    }

    &:hover {
      opacity: .7;
      transition: .3s;
    }
  }
}