.top_section_image {
  background: url("../images/5. Contact Us.ai/contact_bg.png") no-repeat top center;
  background-size: contain;
  height: 1013px;
  // testimonials.php
  &.top_section_image_1 {
    background: url("../images/4. Testimonials/Testimonials.png") no-repeat top center;
    height: 927px;
  }
  // articles_videos.php
  &.top_section_image_2 {
    background: url("../images/3. Articles _ Videos/Articles _ Videos background.png") no-repeat top center;
    height: 300px;
  }
}