.page_content {
  .header_content {
    .title {
      font-size: 47px;
      line-height: 57px;
      padding-bottom: 46px;
      margin-bottom: 63px;
      color: #575756;
      border-bottom: 1px solid #B1B1B1;
    }

    .last_modified {
      color: #575756;
      font-size: 29px;
      line-height: 35px;
      margin-bottom: 60px;
    }
  }

  .body_content {
    h2 {
      font-size: 47px;
      line-height: 57px;
      color: #575756;
      margin-bottom: 37px;
    }
    blockquote {
      font-size: 32px;
      line-height: 44px;
      color: #575756;
      margin-bottom: 30px;
      position: relative;
      padding-left: 40px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        border-radius: 3px;
        height: 100%;
        background: #FF7667;
      }
    }

    p {
      color: #575756;
      font-size: 32px;
      line-height: 44px;
      margin-bottom: 30px;

      a {
        color: #FF7667;
      }
    }

    ul {
      margin-bottom: 30px;
      li {
        color: #575756;
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 20px;
        padding-left: 30px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          width: 13px;
          height: 13px;
          background: #FF7667;
          border-radius: 50%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}