.module-post {
  .post {
    margin-bottom: 65px;
    background: #F5F5F5;

    &:last-child {
      margin-bottom: 0;
    }

    .images {
      position: relative;

      img {
        width: 100%;
      }
    }

    .post_body {
      padding: 0 57px 42px 57px;

      .title {
        font-size: 49px;
        line-height: 59px;
        margin-bottom: 59px;
        position: relative;
        color: #575756;
        margin-top: 36px;
        display: inline-flex;

        &:before {
          content: '';
          position: absolute;
          width: 79px;
          height: 6px;
          background: #FF7667;
          left: 0;
          bottom: -25px;
        }
      }

      .content {
        font-size: 22px;
        line-height: 27px;
        color: #868686;
        margin-bottom: 25px;
      }
    }

    .post_footer {
      padding: 0 57px 0 57px;


      .cat {
        border-top: 1px solid #868686;
        padding: 20px 0 27px 0;
        font-size: 22px;
        line-height: 27px;
        color: #868686;

        .cat_link {
          color: #868686;
        }
      }
    }

    &.video {
      .images {
        &:before {
          content: '';
          background: url("../images/3. Articles _ Videos/video.svg") no-repeat center center;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  // articles_videos.php
  &.module-post_1 {
    .post {
      background: none;
      margin-bottom: 45px;

      .post_body {
        padding: 0;

        .title {
          font-size: 26px;
          line-height: 31px;
          padding: 15px 30px 0 30px;
          margin: 0;

          &:before {
            content: none;
          }
        }
      }
    }
  }
}