.sidebar {
  .sidebar_title {
    font-size: 37px;
    line-height: 45px;
    color: #6F6F6E;
    margin-bottom: 35px;
  }

  .sidebar_item {
    position: relative;
    padding-bottom: 55px;
    margin-bottom: 40px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      height: 1px;
      background: #868686;
      width: 467px;
    }

    &:last-child:before {
      content: none;
    }
  }
}

.categories_list {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  li {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #575756;
      font-size: 26px;
      line-height: 31px;
    }
  }

  .sub_list {
    padding-left: 40px;

    li {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 6.79px;
        height: 6.79px;
        background: #575756;
        left: -20px;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 50%;
      }
    }
  }
}