table {
  margin: 20px;

  td {
    padding: 20px;
  }

  thead {
    border-radius: 0.25em; // 1
    box-shadow: 0 0 0 1px #ccc; // 1
  }

  tbody {
    tr {
      // нечетный ряд
      // берет нечетные от начала таблицы, учитывая thead и tfoot
      &:nth-child(odd) {
        background: red;
      }

      td {
        // все первые td ряду в каждом ряду
        &:first-child {
          background: #00b3ee;
        }
      }

      td {
        // все последние td ряду в каждом ряду
        &:last-child {
          background: #00FF00;
        }
      }

      td {
        // предпоследний td
        &:nth-last-child(2) {
          background: #0c5460;
        }
      }
    }

    tr {
      // четный ряд
      // берет нечетные от начала таблицы, учитывая thead и tfoot
      &:nth-child(even) {
        background: blue;
      }
    }
  }
}