.s-final-test-top {
    background-image: url(../images/final-test-wave.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    text-align: center;
    padding: 4rem 0 7.3125rem;
    min-height: 20rem;
}

.s-final-test-top h1 {
    font-size: 3.009rem;
    line-height: 1.208;
    text-align: center;
    color: #3c3c3b;
}

.s-final-test-top h1 strong {
    font-family: "HelveticaNeueCyr_Black", serif;
    display: block;
    margin-bottom: 15px;
}

.s-tf-content {
    padding-top: 3.25rem;
}

.tf-result-wrap {
    padding-left: 1.25rem;
}

.tf-result-wrap h1 {
    font-size: 2.640rem;
    line-height: 1.208;
    color: #3c3c3b;
    font-family: "HelveticaNeueCyr_Black", serif;
    margin-bottom: 2.3125rem;
}

.tf-result-wrap p {
    font-size: 2.255rem;
    line-height: 1.195;
    color: #575756;
    margin-bottom: 2.5rem;
}

.tf-result-wrap p strong {
    color: #ff7667;
    font-family: "HelveticaNeueCyr_Bold", serif;
    font-style: italic;
}

.tf-result-wrap .btn {
    font-size: 1.944rem;
    padding: 1.06rem 3.06rem 1.12rem;
    border-radius: 2.5rem;
}

.tf-result-list li {
    padding-bottom: 2.5rem;
    margin-bottom: 2.375rem;
    display: flex;
    font-size: 1.944rem;
    line-height: 1.194;
    align-items: center;
    border-bottom: 1px solid #868686;
}


.tf-result-list li:last-child {
    border-bottom: none;
}

.tf-result-list li .label {
    color: #6f6f6e;
    margin-right: 1.25rem;
}

.tf-result-list li .value {
    color: #ff7667;
    font-family: "HelveticaNeueCyr_Bold", serif;
    font-style: italic;
}

.tf-text {
    padding-top: 70px;
}

.tf-text p {
    font-size: 2.006rem;
    line-height: 1.375;
    color: #575756;
    margin-bottom: 2.5rem;
    font-family: "HelveticaNeueCyr_Light", serif;
}

.tf-text p strong {
    font-family: "HelveticaNeueCyr_Medium", serif;
}

.tf-text .icon+.text-group,
.tf-text .text-group+.icon {
    margin-left: 4.1875rem;
}

.tf-img-top img{
    width: 58.8125rem;
}

.tf-text .icon {
    max-width: 19.75rem;
    min-width: 19.75rem;
    width: 100%;
}

.tf-text .icon img{
    width: 19.75rem;
}

.quote {
    font-size: 2.006rem;
    line-height: 1.375;
    font-family: "HelveticaNeueCyr_LightItalic", serif;
    color: #575756;
    padding-left: 2.5rem;
    border-left: 5px solid #FF7667;
    margin-bottom: 2.5rem;
    max-width: 67rem;
    width: 100%;
}

.quote strong {
    display: block;
    font-family: "HelveticaNeueCyr_Medium", serif;
}

.tf-text-box .btn-wrap {
    text-align: center;
    margin-top: 4.375rem;
}

.tf-text-box .btn {
    font-size: 1.948rem;
    padding: 1.06rem 3.06rem 1.12rem;
    border-radius: 2.5rem;
}

footer.ft-with-bg {
    background-image: url(../images/bg-proff.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 96.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3.9375rem;
}


footer.ft-with-bg .copyright {
    color: #F5F5F5;
}

.phase-form {
    max-width: 72.125rem;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 3.75rem;
    border-bottom: 1px solid #D9D9D9;
}

.phase-form .question_title {
    margin-bottom: 3.75rem;
}

.phase-form .textarea-group {
    border: 1px solid #FF7667;
    border-radius: 1.375rem;
    overflow: hidden;
    max-width: 57.8125rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.phase-form textarea {
    width: 100%;
    border: none;
    min-height: 19.6875rem;
    font-family: "HelveticaNeueCyr_Light", serif;
    padding: 1.25rem;
    resize: none;
    font-size: 1.167rem;
    color: #c6c6c5;
}

.phase-form textarea::-webkit-input-placeholder {
    color: #c6c6c5;
    opacity: 1;
}

.phase-form textarea::-moz-placeholder {
    color: #c6c6c5;
    opacity: 1;
}

.phase-form textarea:-ms-input-placeholder {
    color: #c6c6c5;
    opacity: 1;
}

.phase-form textarea:-moz-placeholder {
    color: #c6c6c5;
    opacity: 1;
}

.input-file-wrap {
    display: inline-block;
}

.input-file {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 14px;
    right: 17px;
    font-size: 1.228rem;
    color: #9c9b9b;
    cursor: pointer;
    font-family: "HelveticaNeueCyr_Light", serif;
}

.input-file::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.input-file .icon {
    margin-left: 10px;
}

.input-file input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}



.radio-container {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
    color: #ff7667;
    font-size: 1.474rem;
    line-height: 1.167;
    text-align: left;
    width: 50%;
    cursor: pointer;
}

.radio-container p {
    position: relative;
    z-index: 1;
}

.radio-container .checkmark {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #FF7667;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.radio-container:first-child .checkmark {
    border-top-left-radius: 4.6875rem;
    border-bottom-left-radius: 4.6875rem;
}

.radio-container:last-child .checkmark {
    border-top-right-radius: 4.6875rem;
    border-bottom-right-radius: 4.6875rem;
    border-left: none;
}

.radio-container:first-child {
    padding-left: 5.625rem;
    padding-right: 2.5rem;
}

.radio-container:last-child {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-group {
    max-width: 56.25rem;
    width: 100%;
    margin: 0 auto;
}

.radio-container input {
    transition: .3s;
}

.radio-container input:hover~p {
    color: #ffffff;
    transition: .3s;
}

.radio-container input:hover~.checkmark {
    background-color: #FF7667;
    transition: .3s;
}

.radio-container input:checked~p {
    color: #ffffff;
    transition: .3s;
}

.radio-container input:checked~.checkmark {
    background-color: #FF7667;
    transition: .3s;
}


.phase-form.pb-40 {
    padding-bottom: 2.5rem;
}