* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent
}

button {
    -webkit-tap-highlight-color: transparent
}

input[type=button] {
    cursor: pointer
}

input {
    outline: none
}

li {
    list-style: none
}

body {
    min-width: 300px;
    position: relative;
    font-family: HelveticaNeueCyr_Medium;
    overflow-x: hidden;
}

html {
    font-size: 0.833vw;
}

a, svg {
    transition: .3s
}

a:hover, svg:hover {
    transition: .3s
}

img {
    max-width: 100%;
    vertical-align: bottom
}

video {
    vertical-align: bottom
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

@media (min-width: 320px) and (max-width: 450px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        max-width: none
    }
}

@media (min-width: 451px) and (max-width: 767.98px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        max-width: 540px
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        max-width: 720px
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        max-width: 1200px
    }
}

.row {
    display: flex
}

/*!
 * Bootstrap v4.0.0-beta (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%
    }
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%
}

.col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%
}

.col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%
}

.col-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%
}

.col-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.order-1 {
    order: 1
}

.order-2 {
    order: 2
}

.order-3 {
    order: 3
}

.order-4 {
    order: 4
}

.order-5 {
    order: 5
}

.order-6 {
    order: 6
}

.order-7 {
    order: 7
}

.order-8 {
    order: 8
}

.order-9 {
    order: 9
}

.order-10 {
    order: 10
}

.order-11 {
    order: 11
}

.order-12 {
    order: 12
}

@media (min-width: 576px) {
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-sm-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-sm-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-sm-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-sm-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .col-sm-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-sm-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .col-sm-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-sm-1 {
        order: 1
    }

    .order-sm-2 {
        order: 2
    }

    .order-sm-3 {
        order: 3
    }

    .order-sm-4 {
        order: 4
    }

    .order-sm-5 {
        order: 5
    }

    .order-sm-6 {
        order: 6
    }

    .order-sm-7 {
        order: 7
    }

    .order-sm-8 {
        order: 8
    }

    .order-sm-9 {
        order: 9
    }

    .order-sm-10 {
        order: 10
    }

    .order-sm-11 {
        order: 11
    }

    .order-sm-12 {
        order: 12
    }
}

@media (min-width: 768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-md-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-md-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-md-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .col-md-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-md-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .col-md-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-md-1 {
        order: 1
    }

    .order-md-2 {
        order: 2
    }

    .order-md-3 {
        order: 3
    }

    .order-md-4 {
        order: 4
    }

    .order-md-5 {
        order: 5
    }

    .order-md-6 {
        order: 6
    }

    .order-md-7 {
        order: 7
    }

    .order-md-8 {
        order: 8
    }

    .order-md-9 {
        order: 9
    }

    .order-md-10 {
        order: 10
    }

    .order-md-11 {
        order: 11
    }

    .order-md-12 {
        order: 12
    }
}

@media (min-width: 992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-lg-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-lg-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-lg-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .col-lg-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-lg-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .col-lg-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-lg-1 {
        order: 1
    }

    .order-lg-2 {
        order: 2
    }

    .order-lg-3 {
        order: 3
    }

    .order-lg-4 {
        order: 4
    }

    .order-lg-5 {
        order: 5
    }

    .order-lg-6 {
        order: 6
    }

    .order-lg-7 {
        order: 7
    }

    .order-lg-8 {
        order: 8
    }

    .order-lg-9 {
        order: 9
    }

    .order-lg-10 {
        order: 10
    }

    .order-lg-11 {
        order: 11
    }

    .order-lg-12 {
        order: 12
    }
}

@media (min-width: 1200px) {
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-xl-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-xl-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xl-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-xl-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xl-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .col-xl-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xl-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .col-xl-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-xl-1 {
        order: 1
    }

    .order-xl-2 {
        order: 2
    }

    .order-xl-3 {
        order: 3
    }

    .order-xl-4 {
        order: 4
    }

    .order-xl-5 {
        order: 5
    }

    .order-xl-6 {
        order: 6
    }

    .order-xl-7 {
        order: 7
    }

    .order-xl-8 {
        order: 8
    }

    .order-xl-9 {
        order: 9
    }

    .order-xl-10 {
        order: 10
    }

    .order-xl-11 {
        order: 11
    }

    .order-xl-12 {
        order: 12
    }
}

.align-baseline {
    vertical-align: baseline !important
}

.align-top {
    vertical-align: top !important
}

.align-middle {
    vertical-align: middle !important
}

.align-bottom {
    vertical-align: bottom !important
}

.align-text-bottom {
    vertical-align: text-bottom !important
}

.align-text-top {
    vertical-align: text-top !important
}

.bg-primary {
    background-color: #007bff !important
}

a.bg-primary:focus, a.bg-primary:hover {
    background-color: #0062cc !important
}

.bg-secondary {
    background-color: #868e96 !important
}

a.bg-secondary:focus, a.bg-secondary:hover {
    background-color: #6c757d !important
}

.bg-success {
    background-color: #28a745 !important
}

a.bg-success:focus, a.bg-success:hover {
    background-color: #1e7e34 !important
}

.bg-info {
    background-color: #17a2b8 !important
}

a.bg-info:focus, a.bg-info:hover {
    background-color: #117a8b !important
}

.bg-warning {
    background-color: #ffc107 !important
}

a.bg-warning:focus, a.bg-warning:hover {
    background-color: #d39e00 !important
}

.bg-danger {
    background-color: #dc3545 !important
}

a.bg-danger:focus, a.bg-danger:hover {
    background-color: #bd2130 !important
}

.bg-light {
    background-color: #f8f9fa !important
}

a.bg-light:focus, a.bg-light:hover {
    background-color: #dae0e5 !important
}

.bg-dark {
    background-color: #343a40 !important
}

a.bg-dark:focus, a.bg-dark:hover {
    background-color: #1d2124 !important
}

.bg-white {
    background-color: #fff !important
}

.bg-transparent {
    background-color: transparent !important
}

.border {
    border: 1px solid #e9ecef !important
}

.border-0 {
    border: 0 !important
}

.border-top-0 {
    border-top: 0 !important
}

.border-right-0 {
    border-right: 0 !important
}

.border-bottom-0 {
    border-bottom: 0 !important
}

.border-left-0 {
    border-left: 0 !important
}

.border-primary {
    border-color: #007bff !important
}

.border-secondary {
    border-color: #868e96 !important
}

.border-success {
    border-color: #28a745 !important
}

.border-info {
    border-color: #17a2b8 !important
}

.border-warning {
    border-color: #ffc107 !important
}

.border-danger {
    border-color: #dc3545 !important
}

.border-light {
    border-color: #f8f9fa !important
}

.border-dark {
    border-color: #343a40 !important
}

.border-white {
    border-color: #fff !important
}

.rounded {
    border-radius: .25rem !important
}

.rounded-top {
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important
}

.rounded-right {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important
}

.rounded-bottom {
    border-bottom-right-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important
}

.rounded-left {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important
}

.rounded-circle {
    border-radius: 50%
}

.rounded-0 {
    border-radius: 0
}

.clearfix::after {
    display: block;
    clear: both;
    content: ""
}

.d-none {
    display: none !important
}

.d-inline {
    display: inline !important
}

.d-inline-block {
    display: inline-block !important
}

.d-block {
    display: block !important
}

.d-table {
    display: table !important
}

.d-table-cell {
    display: table-cell !important
}

.d-flex {
    display: flex !important
}

.d-inline-flex {
    display: inline-flex !important
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none !important
    }

    .d-sm-inline {
        display: inline !important
    }

    .d-sm-inline-block {
        display: inline-block !important
    }

    .d-sm-block {
        display: block !important
    }

    .d-sm-table {
        display: table !important
    }

    .d-sm-table-cell {
        display: table-cell !important
    }

    .d-sm-flex {
        display: flex !important
    }

    .d-sm-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display: none !important
    }

    .d-md-inline {
        display: inline !important
    }

    .d-md-inline-block {
        display: inline-block !important
    }

    .d-md-block {
        display: block !important
    }

    .d-md-table {
        display: table !important
    }

    .d-md-table-cell {
        display: table-cell !important
    }

    .d-md-flex {
        display: flex !important
    }

    .d-md-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important
    }

    .d-lg-inline {
        display: inline !important
    }

    .d-lg-inline-block {
        display: inline-block !important
    }

    .d-lg-block {
        display: block !important
    }

    .d-lg-table {
        display: table !important
    }

    .d-lg-table-cell {
        display: table-cell !important
    }

    .d-lg-flex {
        display: flex !important
    }

    .d-lg-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none !important
    }

    .d-xl-inline {
        display: inline !important
    }

    .d-xl-inline-block {
        display: inline-block !important
    }

    .d-xl-block {
        display: block !important
    }

    .d-xl-table {
        display: table !important
    }

    .d-xl-table-cell {
        display: table-cell !important
    }

    .d-xl-flex {
        display: flex !important
    }

    .d-xl-inline-flex {
        display: inline-flex !important
    }
}

.d-print-block {
    display: none !important
}

@media print {
    .d-print-block {
        display: block !important
    }
}

.d-print-inline {
    display: none !important
}

@media print {
    .d-print-inline {
        display: inline !important
    }
}

.d-print-inline-block {
    display: none !important
}

@media print {
    .d-print-inline-block {
        display: inline-block !important
    }
}

@media print {
    .d-print-none {
        display: none !important
    }
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden
}

.embed-responsive::before {
    display: block;
    content: ""
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.embed-responsive-21by9::before {
    padding-top: 42.8571428571%
}

.embed-responsive-16by9::before {
    padding-top: 56.25%
}

.embed-responsive-4by3::before {
    padding-top: 75%
}

.embed-responsive-1by1::before {
    padding-top: 100%
}

.flex-row {
    flex-direction: row !important
}

.flex-column {
    flex-direction: column !important
}

.flex-row-reverse {
    flex-direction: row-reverse !important
}

.flex-column-reverse {
    flex-direction: column-reverse !important
}

.flex-wrap {
    flex-wrap: wrap !important
}

.flex-nowrap {
    flex-wrap: nowrap !important
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important
}

.justify-content-start {
    justify-content: flex-start !important
}

.justify-content-end {
    justify-content: flex-end !important
}

.justify-content-center {
    justify-content: center !important
}

.justify-content-between {
    justify-content: space-between !important
}

.justify-content-around {
    justify-content: space-around !important
}

.align-items-start {
    align-items: flex-start !important
}

.align-items-end {
    align-items: flex-end !important
}

.align-items-center {
    align-items: center !important
}

.align-items-baseline {
    align-items: baseline !important
}

.align-items-stretch {
    align-items: stretch !important
}

.align-content-start {
    align-content: flex-start !important
}

.align-content-end {
    align-content: flex-end !important
}

.align-content-center {
    align-content: center !important
}

.align-content-between {
    align-content: space-between !important
}

.align-content-around {
    align-content: space-around !important
}

.align-content-stretch {
    align-content: stretch !important
}

.align-self-auto {
    align-self: auto !important
}

.align-self-start {
    align-self: flex-start !important
}

.align-self-end {
    align-self: flex-end !important
}

.align-self-center {
    align-self: center !important
}

.align-self-baseline {
    align-self: baseline !important
}

.align-self-stretch {
    align-self: stretch !important
}

@media (min-width: 576px) {
    .flex-sm-row {
        flex-direction: row !important
    }

    .flex-sm-column {
        flex-direction: column !important
    }

    .flex-sm-row-reverse {
        flex-direction: row-reverse !important
    }

    .flex-sm-column-reverse {
        flex-direction: column-reverse !important
    }

    .flex-sm-wrap {
        flex-wrap: wrap !important
    }

    .flex-sm-nowrap {
        flex-wrap: nowrap !important
    }

    .flex-sm-wrap-reverse {
        flex-wrap: wrap-reverse !important
    }

    .justify-content-sm-start {
        justify-content: flex-start !important
    }

    .justify-content-sm-end {
        justify-content: flex-end !important
    }

    .justify-content-sm-center {
        justify-content: center !important
    }

    .justify-content-sm-between {
        justify-content: space-between !important
    }

    .justify-content-sm-around {
        justify-content: space-around !important
    }

    .align-items-sm-start {
        align-items: flex-start !important
    }

    .align-items-sm-end {
        align-items: flex-end !important
    }

    .align-items-sm-center {
        align-items: center !important
    }

    .align-items-sm-baseline {
        align-items: baseline !important
    }

    .align-items-sm-stretch {
        align-items: stretch !important
    }

    .align-content-sm-start {
        align-content: flex-start !important
    }

    .align-content-sm-end {
        align-content: flex-end !important
    }

    .align-content-sm-center {
        align-content: center !important
    }

    .align-content-sm-between {
        align-content: space-between !important
    }

    .align-content-sm-around {
        align-content: space-around !important
    }

    .align-content-sm-stretch {
        align-content: stretch !important
    }

    .align-self-sm-auto {
        align-self: auto !important
    }

    .align-self-sm-start {
        align-self: flex-start !important
    }

    .align-self-sm-end {
        align-self: flex-end !important
    }

    .align-self-sm-center {
        align-self: center !important
    }

    .align-self-sm-baseline {
        align-self: baseline !important
    }

    .align-self-sm-stretch {
        align-self: stretch !important
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        flex-direction: row !important
    }

    .flex-md-column {
        flex-direction: column !important
    }

    .flex-md-row-reverse {
        flex-direction: row-reverse !important
    }

    .flex-md-column-reverse {
        flex-direction: column-reverse !important
    }

    .flex-md-wrap {
        flex-wrap: wrap !important
    }

    .flex-md-nowrap {
        flex-wrap: nowrap !important
    }

    .flex-md-wrap-reverse {
        flex-wrap: wrap-reverse !important
    }

    .justify-content-md-start {
        justify-content: flex-start !important
    }

    .justify-content-md-end {
        justify-content: flex-end !important
    }

    .justify-content-md-center {
        justify-content: center !important
    }

    .justify-content-md-between {
        justify-content: space-between !important
    }

    .justify-content-md-around {
        justify-content: space-around !important
    }

    .align-items-md-start {
        align-items: flex-start !important
    }

    .align-items-md-end {
        align-items: flex-end !important
    }

    .align-items-md-center {
        align-items: center !important
    }

    .align-items-md-baseline {
        align-items: baseline !important
    }

    .align-items-md-stretch {
        align-items: stretch !important
    }

    .align-content-md-start {
        align-content: flex-start !important
    }

    .align-content-md-end {
        align-content: flex-end !important
    }

    .align-content-md-center {
        align-content: center !important
    }

    .align-content-md-between {
        align-content: space-between !important
    }

    .align-content-md-around {
        align-content: space-around !important
    }

    .align-content-md-stretch {
        align-content: stretch !important
    }

    .align-self-md-auto {
        align-self: auto !important
    }

    .align-self-md-start {
        align-self: flex-start !important
    }

    .align-self-md-end {
        align-self: flex-end !important
    }

    .align-self-md-center {
        align-self: center !important
    }

    .align-self-md-baseline {
        align-self: baseline !important
    }

    .align-self-md-stretch {
        align-self: stretch !important
    }
}

@media (min-width: 992px) {
    .flex-lg-row {
        flex-direction: row !important
    }

    .flex-lg-column {
        flex-direction: column !important
    }

    .flex-lg-row-reverse {
        flex-direction: row-reverse !important
    }

    .flex-lg-column-reverse {
        flex-direction: column-reverse !important
    }

    .flex-lg-wrap {
        flex-wrap: wrap !important
    }

    .flex-lg-nowrap {
        flex-wrap: nowrap !important
    }

    .flex-lg-wrap-reverse {
        flex-wrap: wrap-reverse !important
    }

    .justify-content-lg-start {
        justify-content: flex-start !important
    }

    .justify-content-lg-end {
        justify-content: flex-end !important
    }

    .justify-content-lg-center {
        justify-content: center !important
    }

    .justify-content-lg-between {
        justify-content: space-between !important
    }

    .justify-content-lg-around {
        justify-content: space-around !important
    }

    .align-items-lg-start {
        align-items: flex-start !important
    }

    .align-items-lg-end {
        align-items: flex-end !important
    }

    .align-items-lg-center {
        align-items: center !important
    }

    .align-items-lg-baseline {
        align-items: baseline !important
    }

    .align-items-lg-stretch {
        align-items: stretch !important
    }

    .align-content-lg-start {
        align-content: flex-start !important
    }

    .align-content-lg-end {
        align-content: flex-end !important
    }

    .align-content-lg-center {
        align-content: center !important
    }

    .align-content-lg-between {
        align-content: space-between !important
    }

    .align-content-lg-around {
        align-content: space-around !important
    }

    .align-content-lg-stretch {
        align-content: stretch !important
    }

    .align-self-lg-auto {
        align-self: auto !important
    }

    .align-self-lg-start {
        align-self: flex-start !important
    }

    .align-self-lg-end {
        align-self: flex-end !important
    }

    .align-self-lg-center {
        align-self: center !important
    }

    .align-self-lg-baseline {
        align-self: baseline !important
    }

    .align-self-lg-stretch {
        align-self: stretch !important
    }
}

@media (min-width: 1200px) {
    .flex-xl-row {
        flex-direction: row !important
    }

    .flex-xl-column {
        flex-direction: column !important
    }

    .flex-xl-row-reverse {
        flex-direction: row-reverse !important
    }

    .flex-xl-column-reverse {
        flex-direction: column-reverse !important
    }

    .flex-xl-wrap {
        flex-wrap: wrap !important
    }

    .flex-xl-nowrap {
        flex-wrap: nowrap !important
    }

    .flex-xl-wrap-reverse {
        flex-wrap: wrap-reverse !important
    }

    .justify-content-xl-start {
        justify-content: flex-start !important
    }

    .justify-content-xl-end {
        justify-content: flex-end !important
    }

    .justify-content-xl-center {
        justify-content: center !important
    }

    .justify-content-xl-between {
        justify-content: space-between !important
    }

    .justify-content-xl-around {
        justify-content: space-around !important
    }

    .align-items-xl-start {
        align-items: flex-start !important
    }

    .align-items-xl-end {
        align-items: flex-end !important
    }

    .align-items-xl-center {
        align-items: center !important
    }

    .align-items-xl-baseline {
        align-items: baseline !important
    }

    .align-items-xl-stretch {
        align-items: stretch !important
    }

    .align-content-xl-start {
        align-content: flex-start !important
    }

    .align-content-xl-end {
        align-content: flex-end !important
    }

    .align-content-xl-center {
        align-content: center !important
    }

    .align-content-xl-between {
        align-content: space-between !important
    }

    .align-content-xl-around {
        align-content: space-around !important
    }

    .align-content-xl-stretch {
        align-content: stretch !important
    }

    .align-self-xl-auto {
        align-self: auto !important
    }

    .align-self-xl-start {
        align-self: flex-start !important
    }

    .align-self-xl-end {
        align-self: flex-end !important
    }

    .align-self-xl-center {
        align-self: center !important
    }

    .align-self-xl-baseline {
        align-self: baseline !important
    }

    .align-self-xl-stretch {
        align-self: stretch !important
    }
}

.float-left {
    float: left !important
}

.float-right {
    float: right !important
}

.float-none {
    float: none !important
}

@media (min-width: 576px) {
    .float-sm-left {
        float: left !important
    }

    .float-sm-right {
        float: right !important
    }

    .float-sm-none {
        float: none !important
    }
}

@media (min-width: 768px) {
    .float-md-left {
        float: left !important
    }

    .float-md-right {
        float: right !important
    }

    .float-md-none {
        float: none !important
    }
}

@media (min-width: 992px) {
    .float-lg-left {
        float: left !important
    }

    .float-lg-right {
        float: right !important
    }

    .float-lg-none {
        float: none !important
    }
}

@media (min-width: 1200px) {
    .float-xl-left {
        float: left !important
    }

    .float-xl-right {
        float: right !important
    }

    .float-xl-none {
        float: none !important
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030
}

@supports (position: sticky) {
    .sticky-top {
        position: sticky;
        top: 0;
        z-index: 1020
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    clip-path: none
}

.w-25 {
    width: 25% !important
}

.w-50 {
    width: 50% !important
}

.w-75 {
    width: 75% !important
}

.w-100 {
    width: 100% !important
}

.h-25 {
    height: 25% !important
}

.h-50 {
    height: 50% !important
}

.h-75 {
    height: 75% !important
}

.h-100 {
    height: 100% !important
}

.mw-100 {
    max-width: 100% !important
}

.mh-100 {
    max-height: 100% !important
}

.m-0 {
    margin: 0 !important
}

.mt-0 {
    margin-top: 0 !important
}

.mr-0 {
    margin-right: 0 !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.ml-0 {
    margin-left: 0 !important
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.m-1 {
    margin: .25rem !important
}

.mt-1 {
    margin-top: .25rem !important
}

.mr-1 {
    margin-right: .25rem !important
}

.mb-1 {
    margin-bottom: .25rem !important
}

.ml-1 {
    margin-left: .25rem !important
}

.mx-1 {
    margin-right: .25rem !important;
    margin-left: .25rem !important
}

.my-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important
}

.m-2 {
    margin: .5rem !important
}

.mt-2 {
    margin-top: .5rem !important
}

.mr-2 {
    margin-right: .5rem !important
}

.mb-2 {
    margin-bottom: .5rem !important
}

.ml-2 {
    margin-left: .5rem !important
}

.mx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important
}

.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important
}

.m-3 {
    margin: 1rem !important
}

.mt-3 {
    margin-top: 1rem !important
}

.mr-3 {
    margin-right: 1rem !important
}

.mb-3 {
    margin-bottom: 1rem !important
}

.ml-3 {
    margin-left: 1rem !important
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.m-4 {
    margin: 1.5rem !important
}

.mt-4 {
    margin-top: 1.5rem !important
}

.mr-4 {
    margin-right: 1.5rem !important
}

.mb-4 {
    margin-bottom: 1.5rem !important
}

.ml-4 {
    margin-left: 1.5rem !important
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}

.m-5 {
    margin: 3rem !important
}

.mt-5 {
    margin-top: 3rem !important
}

.mr-5 {
    margin-right: 3rem !important
}

.mb-5 {
    margin-bottom: 3rem !important
}

.ml-5 {
    margin-left: 3rem !important
}

.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}

.p-0 {
    padding: 0 !important
}

.pt-0 {
    padding-top: 0 !important
}

.pr-0 {
    padding-right: 0 !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pl-0 {
    padding-left: 0 !important
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.pt-1 {
    padding-top: .25rem !important
}

.pr-1 {
    padding-right: .25rem !important
}

.pb-1 {
    padding-bottom: .25rem !important
}

.pl-1 {
    padding-left: .25rem !important
}

.px-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important
}

.py-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important
}

.p-2 {
    padding: .5rem !important
}

.pt-2 {
    padding-top: .5rem !important
}

.pr-2 {
    padding-right: .5rem !important
}

.pb-2 {
    padding-bottom: .5rem !important
}

.pl-2 {
    padding-left: .5rem !important
}

.px-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important
}

.py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important
}

.p-3 {
    padding: 1rem !important
}

.pt-3 {
    padding-top: 1rem !important
}

.pr-3 {
    padding-right: 1rem !important
}

.pb-3 {
    padding-bottom: 1rem !important
}

.pl-3 {
    padding-left: 1rem !important
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.pt-4 {
    padding-top: 1.5rem !important
}

.pr-4 {
    padding-right: 1.5rem !important
}

.pb-4 {
    padding-bottom: 1.5rem !important
}

.pl-4 {
    padding-left: 1.5rem !important
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}

.p-5 {
    padding: 3rem !important
}

.pt-5 {
    padding-top: 3rem !important
}

.pr-5 {
    padding-right: 3rem !important
}

.pb-5 {
    padding-bottom: 3rem !important
}

.pl-5 {
    padding-left: 3rem !important
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.m-auto {
    margin: auto !important
}

.mt-auto {
    margin-top: auto !important
}

.mr-auto {
    margin-right: auto !important
}

.mb-auto {
    margin-bottom: auto !important
}

.ml-auto {
    margin-left: auto !important
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important
}

@media (min-width: 576px) {
    .m-sm-0 {
        margin: 0 !important
    }

    .mt-sm-0 {
        margin-top: 0 !important
    }

    .mr-sm-0 {
        margin-right: 0 !important
    }

    .mb-sm-0 {
        margin-bottom: 0 !important
    }

    .ml-sm-0 {
        margin-left: 0 !important
    }

    .mx-sm-0 {
        margin-right: 0 !important;
        margin-left: 0 !important
    }

    .my-sm-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important
    }

    .m-sm-1 {
        margin: .25rem !important
    }

    .mt-sm-1 {
        margin-top: .25rem !important
    }

    .mr-sm-1 {
        margin-right: .25rem !important
    }

    .mb-sm-1 {
        margin-bottom: .25rem !important
    }

    .ml-sm-1 {
        margin-left: .25rem !important
    }

    .mx-sm-1 {
        margin-right: .25rem !important;
        margin-left: .25rem !important
    }

    .my-sm-1 {
        margin-top: .25rem !important;
        margin-bottom: .25rem !important
    }

    .m-sm-2 {
        margin: .5rem !important
    }

    .mt-sm-2 {
        margin-top: .5rem !important
    }

    .mr-sm-2 {
        margin-right: .5rem !important
    }

    .mb-sm-2 {
        margin-bottom: .5rem !important
    }

    .ml-sm-2 {
        margin-left: .5rem !important
    }

    .mx-sm-2 {
        margin-right: .5rem !important;
        margin-left: .5rem !important
    }

    .my-sm-2 {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important
    }

    .m-sm-3 {
        margin: 1rem !important
    }

    .mt-sm-3 {
        margin-top: 1rem !important
    }

    .mr-sm-3 {
        margin-right: 1rem !important
    }

    .mb-sm-3 {
        margin-bottom: 1rem !important
    }

    .ml-sm-3 {
        margin-left: 1rem !important
    }

    .mx-sm-3 {
        margin-right: 1rem !important;
        margin-left: 1rem !important
    }

    .my-sm-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important
    }

    .m-sm-4 {
        margin: 1.5rem !important
    }

    .mt-sm-4 {
        margin-top: 1.5rem !important
    }

    .mr-sm-4 {
        margin-right: 1.5rem !important
    }

    .mb-sm-4 {
        margin-bottom: 1.5rem !important
    }

    .ml-sm-4 {
        margin-left: 1.5rem !important
    }

    .mx-sm-4 {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important
    }

    .my-sm-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important
    }

    .m-sm-5 {
        margin: 3rem !important
    }

    .mt-sm-5 {
        margin-top: 3rem !important
    }

    .mr-sm-5 {
        margin-right: 3rem !important
    }

    .mb-sm-5 {
        margin-bottom: 3rem !important
    }

    .ml-sm-5 {
        margin-left: 3rem !important
    }

    .mx-sm-5 {
        margin-right: 3rem !important;
        margin-left: 3rem !important
    }

    .my-sm-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important
    }

    .p-sm-0 {
        padding: 0 !important
    }

    .pt-sm-0 {
        padding-top: 0 !important
    }

    .pr-sm-0 {
        padding-right: 0 !important
    }

    .pb-sm-0 {
        padding-bottom: 0 !important
    }

    .pl-sm-0 {
        padding-left: 0 !important
    }

    .px-sm-0 {
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .py-sm-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }

    .p-sm-1 {
        padding: .25rem !important
    }

    .pt-sm-1 {
        padding-top: .25rem !important
    }

    .pr-sm-1 {
        padding-right: .25rem !important
    }

    .pb-sm-1 {
        padding-bottom: .25rem !important
    }

    .pl-sm-1 {
        padding-left: .25rem !important
    }

    .px-sm-1 {
        padding-right: .25rem !important;
        padding-left: .25rem !important
    }

    .py-sm-1 {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important
    }

    .p-sm-2 {
        padding: .5rem !important
    }

    .pt-sm-2 {
        padding-top: .5rem !important
    }

    .pr-sm-2 {
        padding-right: .5rem !important
    }

    .pb-sm-2 {
        padding-bottom: .5rem !important
    }

    .pl-sm-2 {
        padding-left: .5rem !important
    }

    .px-sm-2 {
        padding-right: .5rem !important;
        padding-left: .5rem !important
    }

    .py-sm-2 {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important
    }

    .p-sm-3 {
        padding: 1rem !important
    }

    .pt-sm-3 {
        padding-top: 1rem !important
    }

    .pr-sm-3 {
        padding-right: 1rem !important
    }

    .pb-sm-3 {
        padding-bottom: 1rem !important
    }

    .pl-sm-3 {
        padding-left: 1rem !important
    }

    .px-sm-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important
    }

    .py-sm-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important
    }

    .p-sm-4 {
        padding: 1.5rem !important
    }

    .pt-sm-4 {
        padding-top: 1.5rem !important
    }

    .pr-sm-4 {
        padding-right: 1.5rem !important
    }

    .pb-sm-4 {
        padding-bottom: 1.5rem !important
    }

    .pl-sm-4 {
        padding-left: 1.5rem !important
    }

    .px-sm-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important
    }

    .py-sm-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important
    }

    .p-sm-5 {
        padding: 3rem !important
    }

    .pt-sm-5 {
        padding-top: 3rem !important
    }

    .pr-sm-5 {
        padding-right: 3rem !important
    }

    .pb-sm-5 {
        padding-bottom: 3rem !important
    }

    .pl-sm-5 {
        padding-left: 3rem !important
    }

    .px-sm-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important
    }

    .py-sm-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important
    }

    .m-sm-auto {
        margin: auto !important
    }

    .mt-sm-auto {
        margin-top: auto !important
    }

    .mr-sm-auto {
        margin-right: auto !important
    }

    .mb-sm-auto {
        margin-bottom: auto !important
    }

    .ml-sm-auto {
        margin-left: auto !important
    }

    .mx-sm-auto {
        margin-right: auto !important;
        margin-left: auto !important
    }

    .my-sm-auto {
        margin-top: auto !important;
        margin-bottom: auto !important
    }
}

@media (min-width: 768px) {
    .m-md-0 {
        margin: 0 !important
    }

    .mt-md-0 {
        margin-top: 0 !important
    }

    .mr-md-0 {
        margin-right: 0 !important
    }

    .mb-md-0 {
        margin-bottom: 0 !important
    }

    .ml-md-0 {
        margin-left: 0 !important
    }

    .mx-md-0 {
        margin-right: 0 !important;
        margin-left: 0 !important
    }

    .my-md-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important
    }

    .m-md-1 {
        margin: .25rem !important
    }

    .mt-md-1 {
        margin-top: .25rem !important
    }

    .mr-md-1 {
        margin-right: .25rem !important
    }

    .mb-md-1 {
        margin-bottom: .25rem !important
    }

    .ml-md-1 {
        margin-left: .25rem !important
    }

    .mx-md-1 {
        margin-right: .25rem !important;
        margin-left: .25rem !important
    }

    .my-md-1 {
        margin-top: .25rem !important;
        margin-bottom: .25rem !important
    }

    .m-md-2 {
        margin: .5rem !important
    }

    .mt-md-2 {
        margin-top: .5rem !important
    }

    .mr-md-2 {
        margin-right: .5rem !important
    }

    .mb-md-2 {
        margin-bottom: .5rem !important
    }

    .ml-md-2 {
        margin-left: .5rem !important
    }

    .mx-md-2 {
        margin-right: .5rem !important;
        margin-left: .5rem !important
    }

    .my-md-2 {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important
    }

    .m-md-3 {
        margin: 1rem !important
    }

    .mt-md-3 {
        margin-top: 1rem !important
    }

    .mr-md-3 {
        margin-right: 1rem !important
    }

    .mb-md-3 {
        margin-bottom: 1rem !important
    }

    .ml-md-3 {
        margin-left: 1rem !important
    }

    .mx-md-3 {
        margin-right: 1rem !important;
        margin-left: 1rem !important
    }

    .my-md-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important
    }

    .m-md-4 {
        margin: 1.5rem !important
    }

    .mt-md-4 {
        margin-top: 1.5rem !important
    }

    .mr-md-4 {
        margin-right: 1.5rem !important
    }

    .mb-md-4 {
        margin-bottom: 1.5rem !important
    }

    .ml-md-4 {
        margin-left: 1.5rem !important
    }

    .mx-md-4 {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important
    }

    .my-md-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important
    }

    .m-md-5 {
        margin: 3rem !important
    }

    .mt-md-5 {
        margin-top: 3rem !important
    }

    .mr-md-5 {
        margin-right: 3rem !important
    }

    .mb-md-5 {
        margin-bottom: 3rem !important
    }

    .ml-md-5 {
        margin-left: 3rem !important
    }

    .mx-md-5 {
        margin-right: 3rem !important;
        margin-left: 3rem !important
    }

    .my-md-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important
    }

    .p-md-0 {
        padding: 0 !important
    }

    .pt-md-0 {
        padding-top: 0 !important
    }

    .pr-md-0 {
        padding-right: 0 !important
    }

    .pb-md-0 {
        padding-bottom: 0 !important
    }

    .pl-md-0 {
        padding-left: 0 !important
    }

    .px-md-0 {
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .py-md-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }

    .p-md-1 {
        padding: .25rem !important
    }

    .pt-md-1 {
        padding-top: .25rem !important
    }

    .pr-md-1 {
        padding-right: .25rem !important
    }

    .pb-md-1 {
        padding-bottom: .25rem !important
    }

    .pl-md-1 {
        padding-left: .25rem !important
    }

    .px-md-1 {
        padding-right: .25rem !important;
        padding-left: .25rem !important
    }

    .py-md-1 {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important
    }

    .p-md-2 {
        padding: .5rem !important
    }

    .pt-md-2 {
        padding-top: .5rem !important
    }

    .pr-md-2 {
        padding-right: .5rem !important
    }

    .pb-md-2 {
        padding-bottom: .5rem !important
    }

    .pl-md-2 {
        padding-left: .5rem !important
    }

    .px-md-2 {
        padding-right: .5rem !important;
        padding-left: .5rem !important
    }

    .py-md-2 {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important
    }

    .p-md-3 {
        padding: 1rem !important
    }

    .pt-md-3 {
        padding-top: 1rem !important
    }

    .pr-md-3 {
        padding-right: 1rem !important
    }

    .pb-md-3 {
        padding-bottom: 1rem !important
    }

    .pl-md-3 {
        padding-left: 1rem !important
    }

    .px-md-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important
    }

    .py-md-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important
    }

    .p-md-4 {
        padding: 1.5rem !important
    }

    .pt-md-4 {
        padding-top: 1.5rem !important
    }

    .pr-md-4 {
        padding-right: 1.5rem !important
    }

    .pb-md-4 {
        padding-bottom: 1.5rem !important
    }

    .pl-md-4 {
        padding-left: 1.5rem !important
    }

    .px-md-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important
    }

    .py-md-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important
    }

    .p-md-5 {
        padding: 3rem !important
    }

    .pt-md-5 {
        padding-top: 3rem !important
    }

    .pr-md-5 {
        padding-right: 3rem !important
    }

    .pb-md-5 {
        padding-bottom: 3rem !important
    }

    .pl-md-5 {
        padding-left: 3rem !important
    }

    .px-md-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important
    }

    .py-md-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important
    }

    .m-md-auto {
        margin: auto !important
    }

    .mt-md-auto {
        margin-top: auto !important
    }

    .mr-md-auto {
        margin-right: auto !important
    }

    .mb-md-auto {
        margin-bottom: auto !important
    }

    .ml-md-auto {
        margin-left: auto !important
    }

    .mx-md-auto {
        margin-right: auto !important;
        margin-left: auto !important
    }

    .my-md-auto {
        margin-top: auto !important;
        margin-bottom: auto !important
    }
}

@media (min-width: 992px) {
    .m-lg-0 {
        margin: 0 !important
    }

    .mt-lg-0 {
        margin-top: 0 !important
    }

    .mr-lg-0 {
        margin-right: 0 !important
    }

    .mb-lg-0 {
        margin-bottom: 0 !important
    }

    .ml-lg-0 {
        margin-left: 0 !important
    }

    .mx-lg-0 {
        margin-right: 0 !important;
        margin-left: 0 !important
    }

    .my-lg-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important
    }

    .m-lg-1 {
        margin: .25rem !important
    }

    .mt-lg-1 {
        margin-top: .25rem !important
    }

    .mr-lg-1 {
        margin-right: .25rem !important
    }

    .mb-lg-1 {
        margin-bottom: .25rem !important
    }

    .ml-lg-1 {
        margin-left: .25rem !important
    }

    .mx-lg-1 {
        margin-right: .25rem !important;
        margin-left: .25rem !important
    }

    .my-lg-1 {
        margin-top: .25rem !important;
        margin-bottom: .25rem !important
    }

    .m-lg-2 {
        margin: .5rem !important
    }

    .mt-lg-2 {
        margin-top: .5rem !important
    }

    .mr-lg-2 {
        margin-right: .5rem !important
    }

    .mb-lg-2 {
        margin-bottom: .5rem !important
    }

    .ml-lg-2 {
        margin-left: .5rem !important
    }

    .mx-lg-2 {
        margin-right: .5rem !important;
        margin-left: .5rem !important
    }

    .my-lg-2 {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important
    }

    .m-lg-3 {
        margin: 1rem !important
    }

    .mt-lg-3 {
        margin-top: 1rem !important
    }

    .mr-lg-3 {
        margin-right: 1rem !important
    }

    .mb-lg-3 {
        margin-bottom: 1rem !important
    }

    .ml-lg-3 {
        margin-left: 1rem !important
    }

    .mx-lg-3 {
        margin-right: 1rem !important;
        margin-left: 1rem !important
    }

    .my-lg-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important
    }

    .m-lg-4 {
        margin: 1.5rem !important
    }

    .mt-lg-4 {
        margin-top: 1.5rem !important
    }

    .mr-lg-4 {
        margin-right: 1.5rem !important
    }

    .mb-lg-4 {
        margin-bottom: 1.5rem !important
    }

    .ml-lg-4 {
        margin-left: 1.5rem !important
    }

    .mx-lg-4 {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important
    }

    .my-lg-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important
    }

    .m-lg-5 {
        margin: 3rem !important
    }

    .mt-lg-5 {
        margin-top: 3rem !important
    }

    .mr-lg-5 {
        margin-right: 3rem !important
    }

    .mb-lg-5 {
        margin-bottom: 3rem !important
    }

    .ml-lg-5 {
        margin-left: 3rem !important
    }

    .mx-lg-5 {
        margin-right: 3rem !important;
        margin-left: 3rem !important
    }

    .my-lg-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important
    }

    .p-lg-0 {
        padding: 0 !important
    }

    .pt-lg-0 {
        padding-top: 0 !important
    }

    .pr-lg-0 {
        padding-right: 0 !important
    }

    .pb-lg-0 {
        padding-bottom: 0 !important
    }

    .pl-lg-0 {
        padding-left: 0 !important
    }

    .px-lg-0 {
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .py-lg-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }

    .p-lg-1 {
        padding: .25rem !important
    }

    .pt-lg-1 {
        padding-top: .25rem !important
    }

    .pr-lg-1 {
        padding-right: .25rem !important
    }

    .pb-lg-1 {
        padding-bottom: .25rem !important
    }

    .pl-lg-1 {
        padding-left: .25rem !important
    }

    .px-lg-1 {
        padding-right: .25rem !important;
        padding-left: .25rem !important
    }

    .py-lg-1 {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important
    }

    .p-lg-2 {
        padding: .5rem !important
    }

    .pt-lg-2 {
        padding-top: .5rem !important
    }

    .pr-lg-2 {
        padding-right: .5rem !important
    }

    .pb-lg-2 {
        padding-bottom: .5rem !important
    }

    .pl-lg-2 {
        padding-left: .5rem !important
    }

    .px-lg-2 {
        padding-right: .5rem !important;
        padding-left: .5rem !important
    }

    .py-lg-2 {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important
    }

    .p-lg-3 {
        padding: 1rem !important
    }

    .pt-lg-3 {
        padding-top: 1rem !important
    }

    .pr-lg-3 {
        padding-right: 1rem !important
    }

    .pb-lg-3 {
        padding-bottom: 1rem !important
    }

    .pl-lg-3 {
        padding-left: 1rem !important
    }

    .px-lg-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important
    }

    .py-lg-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important
    }

    .p-lg-4 {
        padding: 1.5rem !important
    }

    .pt-lg-4 {
        padding-top: 1.5rem !important
    }

    .pr-lg-4 {
        padding-right: 1.5rem !important
    }

    .pb-lg-4 {
        padding-bottom: 1.5rem !important
    }

    .pl-lg-4 {
        padding-left: 1.5rem !important
    }

    .px-lg-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important
    }

    .py-lg-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important
    }

    .p-lg-5 {
        padding: 3rem !important
    }

    .pt-lg-5 {
        padding-top: 3rem !important
    }

    .pr-lg-5 {
        padding-right: 3rem !important
    }

    .pb-lg-5 {
        padding-bottom: 3rem !important
    }

    .pl-lg-5 {
        padding-left: 3rem !important
    }

    .px-lg-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important
    }

    .py-lg-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important
    }

    .m-lg-auto {
        margin: auto !important
    }

    .mt-lg-auto {
        margin-top: auto !important
    }

    .mr-lg-auto {
        margin-right: auto !important
    }

    .mb-lg-auto {
        margin-bottom: auto !important
    }

    .ml-lg-auto {
        margin-left: auto !important
    }

    .mx-lg-auto {
        margin-right: auto !important;
        margin-left: auto !important
    }

    .my-lg-auto {
        margin-top: auto !important;
        margin-bottom: auto !important
    }
}

@media (min-width: 1200px) {
    .m-xl-0 {
        margin: 0 !important
    }

    .mt-xl-0 {
        margin-top: 0 !important
    }

    .mr-xl-0 {
        margin-right: 0 !important
    }

    .mb-xl-0 {
        margin-bottom: 0 !important
    }

    .ml-xl-0 {
        margin-left: 0 !important
    }

    .mx-xl-0 {
        margin-right: 0 !important;
        margin-left: 0 !important
    }

    .my-xl-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important
    }

    .m-xl-1 {
        margin: .25rem !important
    }

    .mt-xl-1 {
        margin-top: .25rem !important
    }

    .mr-xl-1 {
        margin-right: .25rem !important
    }

    .mb-xl-1 {
        margin-bottom: .25rem !important
    }

    .ml-xl-1 {
        margin-left: .25rem !important
    }

    .mx-xl-1 {
        margin-right: .25rem !important;
        margin-left: .25rem !important
    }

    .my-xl-1 {
        margin-top: .25rem !important;
        margin-bottom: .25rem !important
    }

    .m-xl-2 {
        margin: .5rem !important
    }

    .mt-xl-2 {
        margin-top: .5rem !important
    }

    .mr-xl-2 {
        margin-right: .5rem !important
    }

    .mb-xl-2 {
        margin-bottom: .5rem !important
    }

    .ml-xl-2 {
        margin-left: .5rem !important
    }

    .mx-xl-2 {
        margin-right: .5rem !important;
        margin-left: .5rem !important
    }

    .my-xl-2 {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important
    }

    .m-xl-3 {
        margin: 1rem !important
    }

    .mt-xl-3 {
        margin-top: 1rem !important
    }

    .mr-xl-3 {
        margin-right: 1rem !important
    }

    .mb-xl-3 {
        margin-bottom: 1rem !important
    }

    .ml-xl-3 {
        margin-left: 1rem !important
    }

    .mx-xl-3 {
        margin-right: 1rem !important;
        margin-left: 1rem !important
    }

    .my-xl-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important
    }

    .m-xl-4 {
        margin: 1.5rem !important
    }

    .mt-xl-4 {
        margin-top: 1.5rem !important
    }

    .mr-xl-4 {
        margin-right: 1.5rem !important
    }

    .mb-xl-4 {
        margin-bottom: 1.5rem !important
    }

    .ml-xl-4 {
        margin-left: 1.5rem !important
    }

    .mx-xl-4 {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important
    }

    .my-xl-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important
    }

    .m-xl-5 {
        margin: 3rem !important
    }

    .mt-xl-5 {
        margin-top: 3rem !important
    }

    .mr-xl-5 {
        margin-right: 3rem !important
    }

    .mb-xl-5 {
        margin-bottom: 3rem !important
    }

    .ml-xl-5 {
        margin-left: 3rem !important
    }

    .mx-xl-5 {
        margin-right: 3rem !important;
        margin-left: 3rem !important
    }

    .my-xl-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important
    }

    .p-xl-0 {
        padding: 0 !important
    }

    .pt-xl-0 {
        padding-top: 0 !important
    }

    .pr-xl-0 {
        padding-right: 0 !important
    }

    .pb-xl-0 {
        padding-bottom: 0 !important
    }

    .pl-xl-0 {
        padding-left: 0 !important
    }

    .px-xl-0 {
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .py-xl-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }

    .p-xl-1 {
        padding: .25rem !important
    }

    .pt-xl-1 {
        padding-top: .25rem !important
    }

    .pr-xl-1 {
        padding-right: .25rem !important
    }

    .pb-xl-1 {
        padding-bottom: .25rem !important
    }

    .pl-xl-1 {
        padding-left: .25rem !important
    }

    .px-xl-1 {
        padding-right: .25rem !important;
        padding-left: .25rem !important
    }

    .py-xl-1 {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important
    }

    .p-xl-2 {
        padding: .5rem !important
    }

    .pt-xl-2 {
        padding-top: .5rem !important
    }

    .pr-xl-2 {
        padding-right: .5rem !important
    }

    .pb-xl-2 {
        padding-bottom: .5rem !important
    }

    .pl-xl-2 {
        padding-left: .5rem !important
    }

    .px-xl-2 {
        padding-right: .5rem !important;
        padding-left: .5rem !important
    }

    .py-xl-2 {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important
    }

    .p-xl-3 {
        padding: 1rem !important
    }

    .pt-xl-3 {
        padding-top: 1rem !important
    }

    .pr-xl-3 {
        padding-right: 1rem !important
    }

    .pb-xl-3 {
        padding-bottom: 1rem !important
    }

    .pl-xl-3 {
        padding-left: 1rem !important
    }

    .px-xl-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important
    }

    .py-xl-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important
    }

    .p-xl-4 {
        padding: 1.5rem !important
    }

    .pt-xl-4 {
        padding-top: 1.5rem !important
    }

    .pr-xl-4 {
        padding-right: 1.5rem !important
    }

    .pb-xl-4 {
        padding-bottom: 1.5rem !important
    }

    .pl-xl-4 {
        padding-left: 1.5rem !important
    }

    .px-xl-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important
    }

    .py-xl-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important
    }

    .p-xl-5 {
        padding: 3rem !important
    }

    .pt-xl-5 {
        padding-top: 3rem !important
    }

    .pr-xl-5 {
        padding-right: 3rem !important
    }

    .pb-xl-5 {
        padding-bottom: 3rem !important
    }

    .pl-xl-5 {
        padding-left: 3rem !important
    }

    .px-xl-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important
    }

    .py-xl-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important
    }

    .m-xl-auto {
        margin: auto !important
    }

    .mt-xl-auto {
        margin-top: auto !important
    }

    .mr-xl-auto {
        margin-right: auto !important
    }

    .mb-xl-auto {
        margin-bottom: auto !important
    }

    .ml-xl-auto {
        margin-left: auto !important
    }

    .mx-xl-auto {
        margin-right: auto !important;
        margin-left: auto !important
    }

    .my-xl-auto {
        margin-top: auto !important;
        margin-bottom: auto !important
    }
}

.text-justify {
    text-align: justify !important
}

.text-nowrap {
    white-space: nowrap !important
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

@media (min-width: 576px) {
    .text-sm-left {
        text-align: left !important
    }

    .text-sm-right {
        text-align: right !important
    }

    .text-sm-center {
        text-align: center !important
    }
}

@media (min-width: 768px) {
    .text-md-left {
        text-align: left !important
    }

    .text-md-right {
        text-align: right !important
    }

    .text-md-center {
        text-align: center !important
    }
}

@media (min-width: 992px) {
    .text-lg-left {
        text-align: left !important
    }

    .text-lg-right {
        text-align: right !important
    }

    .text-lg-center {
        text-align: center !important
    }
}

@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left !important
    }

    .text-xl-right {
        text-align: right !important
    }

    .text-xl-center {
        text-align: center !important
    }
}

.text-lowercase {
    text-transform: lowercase !important
}

.text-uppercase {
    text-transform: uppercase !important
}

.text-capitalize {
    text-transform: capitalize !important
}

.font-weight-normal {
    font-weight: normal
}

.font-weight-bold {
    font-weight: bold
}

.font-italic {
    font-style: italic
}

.text-white {
    color: #fff !important
}

.text-primary {
    color: #007bff !important
}

a.text-primary:focus, a.text-primary:hover {
    color: #0062cc !important
}

.text-secondary {
    color: #868e96 !important
}

a.text-secondary:focus, a.text-secondary:hover {
    color: #6c757d !important
}

.text-success {
    color: #28a745 !important
}

a.text-success:focus, a.text-success:hover {
    color: #1e7e34 !important
}

.text-info {
    color: #17a2b8 !important
}

a.text-info:focus, a.text-info:hover {
    color: #117a8b !important
}

.text-warning {
    color: #ffc107 !important
}

a.text-warning:focus, a.text-warning:hover {
    color: #d39e00 !important
}

.text-danger {
    color: #dc3545 !important
}

a.text-danger:focus, a.text-danger:hover {
    color: #bd2130 !important
}

.text-light {
    color: #f8f9fa !important
}

a.text-light:focus, a.text-light:hover {
    color: #dae0e5 !important
}

.text-dark {
    color: #343a40 !important
}

a.text-dark:focus, a.text-dark:hover {
    color: #1d2124 !important
}

.text-muted {
    color: #868e96 !important
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.visible {
    visibility: visible !important
}

.invisible {
    visibility: hidden !important
}

@font-face {
    font-family: HelveticaNeueCyr_Medium;
    src: local("HelveticaNeueCyr-Medium"), url(../fonts/HelveticaNeueCyr-Medium.ttf)
}

@font-face {
    font-family: HelveticaNeueCyr_Black;
    src: local("HelveticaNeueCyr-Black"), url(../fonts/HelveticaNeueCyr-Black.ttf)
}

@font-face {
    font-family: HelveticaNeueCyr_Light;
    src: local("HHelveticaNeueCyr-Light"), url(../fonts/HelveticaNeueCyr-Light.ttf)
}

@font-face {
    font-family: HelveticaNeueCyr_Roman;
    src: local("HelveticaNeueCyr-Roman"), url(../fonts/HelveticaNeueCyr-Roman.ttf)
}

@font-face {
    font-family: HelveticaNeueCyr_Bold;
    src: local("HelveticaNeueCyr-Bold"), url(../fonts/HelveticaNeueCyr-Bold.ttf)
}

@font-face {
    font-family: HelveticaNeueCyr_LightItalic;
    src: local("HelveticaNeueCyr-LightItalic"), url(../fonts/HelveticaNeueCyr-LightItalic.ttf)
}

.max-width_874 {
    max-width: 874px
}

.max-width_990 {
    max-width: 990px
}

.max-width_800 {
    max-width: 800px
}

.max-width_1095 {
    max-width: 1095px
}

.max-width_600 {
    max-width: 600px
}

.max-width_660 {
    max-width: 41.25rem
}

.max-width_748 {
    max-width: 748px
}

.margin_l_auto {
    margin-left: auto
}

.margin_0_auto {
    margin: 0 auto
}

.border-radius-initial {
    border-radius: initial !important
}

.border-radius-10 {
    border-radius: 10px
}

.border-radius-50 {
    border-radius: 50% !important
}

.border-radius-16 {
    border-radius: 16px !important
}

.global--max-width {
    max-width: 600px !important
}

.margin-t-180 {
    margin-top: 11.25rem
}

.global--line-before-calc-width-30 {
    position: relative
}

.global--line-before-calc-width-30:before {
    content: '';
    width: calc(100% - 30px);
    height: 1px;
    background: #EDEDED;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0
}

.global--line-before-calc-width-30-plus {
    position: relative
}

.global--line-before-calc-width-30-plus:before {
    content: '';
    width: calc(100% + 30px);
    height: 1px;
    background: #EDEDED;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0
}

.global--line-before-calc-dashed {
    position: relative
}

.global--line-before-calc-dashed:before {
    content: '';
    width: calc(100% + 9999px);
    border-top: 1px dashed #E9E9E9;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0
}

.margin_60_auto_0_auto {
    margin: 60px auto 0 auto
}

.img_cover_h100 img {
    object-fit: cover;
    height: 100%
}

.z-index_99 {
    position: relative;
    z-index: 99
}

.wide_section {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translate(-50%)
}

.border_right:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 180px;
    background: rgba(194, 194, 194, 0.3)
}

.border_right.border_right_1:after {
    height: 103px
}

.border_right.border_right_2:after {
    height: 50px
}

.border_right.border_right_2.border_right_2_1:after {
    background: #F7F7F7
}

.border_right.border_right_3:after {
    height: 100%
}

.margin-t-negative-175 {
    margin-top: -175px
}

.same-height {
    display: flex;
    height: 100%;
    flex-direction: column
}

.height-48 {
    height: 48px
}

.scroll-x {
    position: relative;
    padding-bottom: 15px
}

.background {
    background: #5063FF !important
}

.background-2 {
    background: #FF7078 !important
}

.background-3 {
    background: #f7f7f7 !important
}

.background-4 {
    background: #fff
}

.h-100-percent {
    height: 100%
}

.border-bottom {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #F7F7F7
}

.w-100-percent {
    width: 100%
}

.w-90-percent {
    width: 90%
}

.border_dashed {
    border: 1px dashed #E9E9E9
}

.border_none {
    border: none !important
}

.border_b_dashed {
    border-bottom: 1px dashed #E9E9E9
}

.border_b_gray {
    border-bottom: 1px solid rgba(194, 194, 194, 0.3)
}

.flex-shrink-0 {
    flex-shrink: 0
}

.w-110 {
    width: 110px
}

.overflow-h {
    overflow: hidden
}

.padding-l-96 {
    padding-left: 66px;
    color: #56a4ff
}

.revers_indent_30 {
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
    margin-right: 30px
}

.border_color__very_light_gray {
    border-color: #ededed !important
}

.wrapper-flex {
    display: flex
}

.wrapper-flex-a-center-j-end {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.btn {
    background: #FF756A;
    border-radius: 1.5625rem;
    font-size: 1.564rem;
    color: #FFFFFF;
    padding: .7rem 2.2rem;
    display: inline-flex
}

.btn.btn_344_78 {
    padding: 1.12rem 3.57rem
}

.btn.btn_f_s_38 {
    font-size: 2.377rem;
}

.btn.btn_m_b_120_center {
    margin: 7.5rem auto 0 auto
}

.btn:hover {
    background: #FF4B48
}

.btn.btn_no_bg {
    border: 2px solid #FF7667;
    border-radius: 25px;
    background: none;
    color: #FF7667
}

.btn.btn_no_bg:hover {
    background: #FF756A;
    color: #fff
}

.btn.btn_no_bg:active {
    background: #FF4B48;
    color: #fff
}

.module-card [class*="col-"] {
    display: flex;
    position: relative
}

.module-card .item {
    text-align: center;
    padding: 5rem 3.4375rem;
    background: #F6F5F5;
    box-shadow: 0px 0.25rem 0.5rem #B2B2B2BF;
    border-radius: 1.5625rem;
    width: 29.75rem;
    margin: 0 auto
}

.module-card .item .title {
    color: #ED756A;
    font-size: 1.814rem;
    line-height: 1.207;
    position: relative;
    margin-bottom: 3.9375rem;
    margin-top: 0.8125rem
}

.module-card .item .title:before {
    content: '';
    position: absolute;
    width: 4.5rem;
    height: 0.3125rem;
    left: 50%;
    bottom: -1.21875rem;
    transform: translate(-50%, 0);
    background: #ED756A
}

.module-card .item .content {
    color: #868686;
    font-size: 1.814rem;
    line-height: 1.207;
    font-family: HelveticaNeueCyr_Roman
}

.module-card.module-card_1 .item {
    background: none;
    box-shadow: none;
    border-radius: initial;
    padding-top: 0;
    padding-bottom: 0
}

.module-card.module-card_1 .item .icon {
    width: 8rem;
    margin: 0 auto
}

.module-card.module-card_1 .item .title {
    color: #3C3C3B;
    margin-bottom: 4.375rem;
    margin-top: 1.8125rem
}

.module-card.module-card_1 .item .title:before {
    bottom: -2.375rem
}

.module-card.module-card_1 .item .content {
    color: #3C3C3B
}

.module-card.module-card_2 {
    padding-top: 145px
}

.module-card.module-card_2 [class*="col-"] {
    margin-bottom: 80px
}

.module-card-row .row .item {
    position: relative
}

.module-card-row .row .item .title {
    font-size: 2.753rem;
    line-height: 1.205;
    margin-bottom: 1.5rem;
    font-family: HelveticaNeueCyr_Bold
}

.module-card-row .row .item blockquote {
    font-size: 3.286rem;
    line-height: 1.214;
    font-family: HelveticaNeueCyr_LightItalic;
    margin-bottom: 0.625rem
}

.module-card-row .row .item .author {
    font-size: 3.286rem;
    line-height: 1.214;
    font-family: HelveticaNeueCyr_Roman
}

.module-card-row .row .item .number {
    font-size: 17.132rem;
    line-height: 1.338;
    color: #ECECEC;
    font-family: HelveticaNeueCyr_Bold;
    position: absolute;
    left: -2rem;
    top: -1rem;
    z-index: -1
}

.module-card-row .row:nth-child(even) {
    flex-direction: row-reverse
}

.module-card-row .row:nth-child(odd) .item .number {
    position: absolute;
    right: 3.75rem;
    top: 0;
    left: auto
}

footer {
    text-align: center;
    padding: 5.625rem 0;
    background: #fff
}

footer .copyright {
    color: #C6C6C5;
    font-size: 1.814rem;
    font-family: HelveticaNeueCyr_Roman
}

footer .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.1875rem 0
}

footer .menu li {
    margin-right: 6.25rem
}

footer .menu li:last-child {
    margin-right: 0
}

footer .menu li a {
    color: #6F6F6E;
    font-size: 1.627rem;
}

.menu_icon {
    display: flex;
    align-items: center;
    justify-content: center
}

.menu_icon li {
    margin-right: 2rem
}

.menu_icon li:last-child {
    margin-right: 0
}

.menu_icon li a svg {
    width: 2.75rem
}

.menu_icon li:hover svg {
    opacity: .7
}

.page_content .header_content .title {
    font-size: 47px;
    line-height: 57px;
    padding-bottom: 46px;
    margin-bottom: 63px;
    color: #575756;
    border-bottom: 1px solid #B1B1B1
}

.page_content .header_content .last_modified {
    color: #575756;
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 60px
}

.page_content .body_content h2 {
    font-size: 47px;
    line-height: 57px;
    color: #575756;
    margin-bottom: 37px
}

.page_content .body_content blockquote {
    font-size: 32px;
    line-height: 44px;
    color: #575756;
    margin-bottom: 30px;
    position: relative;
    padding-left: 40px
}

.page_content .body_content blockquote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    border-radius: 3px;
    height: 100%;
    background: #FF7667
}

.page_content .body_content p {
    color: #575756;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 30px
}

.page_content .body_content p a {
    color: #FF7667
}

.page_content .body_content ul {
    margin-bottom: 30px
}

.page_content .body_content ul li {
    color: #575756;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative
}

.page_content .body_content ul li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 13px;
    height: 13px;
    background: #FF7667;
    border-radius: 50%
}

.page_content .body_content ul li:last-child {
    margin-bottom: 0
}

.top_section_image {
    background: url("../images/5. Contact Us.ai/contact_bg.png") no-repeat top center;
    background-size: contain;
    height: 63.3125rem
}

.top_section_image.top_section_image_1 {
    background: url("../images/4. Testimonials/Testimonials.png") no-repeat top center;
    height: 57.9375rem;
    background-size: contain;
}

.top_section_image.top_section_image_2 {
    background: url("../images/3. Articles _ Videos/Articles _ Videos background.png") no-repeat top center;
    height: 18.75rem
}

.accordion {
    width: 100%;
    margin: 0 auto;
    font-family: HelveticaNeueCyr_Light
}

.accordion .accordion_item {
    margin-bottom: 1px;
    position: relative
}

.accordion .title_block {
    font-weight: 400;
    font-size: 42px;
    color: #575756;
    cursor: pointer;
    padding: 39px 55px 39px 63px;
    transition: all 0.2s linear 0;
    border-top: 1px solid #C6C6C5;
    position: relative
}

.accordion .title_block:before {
    content: '';
    height: 1.795625rem;
    width: 1.795625rem;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 23px;
    background: url("../images/accordion+.svg") no-repeat;
    background-size: contain;
}

.accordion .active_block .title_block:before {
    content: '';
    top: 50%;
    transform: translate(0, -50%);
    background: url("../images/accordion-.svg") no-repeat;
    background-size: contain;
    width: 1.795625rem;
    height: 0.1875rem;
}

.accordion .active_block .title_block {
    color: #575756
}

.accordion .info {
    display: none;
    padding: 5px 0 40px 0;
    overflow: hidden;
    font-size: 29px;
    line-height: 34px;
    color: #575756
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center
}

.qa_radios_wrpr .qa_radio span:hover {
    transition: .3s;
}

.qa_radios_wrpr .qa_radio.red span:hover {
    background: #FF7667;
    transition: .3s;
}

.qa_radios_wrpr .qa_radio.grey span:hover {
    background: #B1B1B1;
    transition: .3s;
}

.qa_radios_wrpr .qa_radio.blue span:hover {
    background: #35A8E0;
    transition: .3s;
}

@media (max-width: 767px) {
    .pagination {
        margin-top: 50px
    }
}

.pagination li {
    margin-right: 30px
}

@media (max-width: 1199px) {
    .pagination li {
        margin-right: 20px
    }
}

@media (max-width: 767px) {
    .pagination li {
        margin-right: 20px
    }
}

.pagination li:nth-last-child(2) {
    margin-right: 0
}

.pagination li.active a, .pagination li:hover a {
    background: #FF7667;
    color: #fff;
    transition: .3s
}

.pagination li a {
    width: 2.0625rem;
    height: 2.0625rem;
    border-radius: 50%;
    transition: .3s;
    font-size: 1rem;
    color: #B1B1B1;
    display: flex;
    align-items: center;
    justify-content: center
}

@media (max-width: 767px) {
    .pagination li a {
        width: 23px;
        height: 23px;
        font-size: 12px
    }
}

.pagination .prev {
    background: url("../images/4. Testimonials/pagination_left.svg") no-repeat center center;
    width: 10px;
    height: 17px;
    display: block;
    margin-right: 30px;
    transition: .3s
}

@media (max-width: 1199px) {
    .pagination .prev {
        margin-right: 20px
    }
}

.pagination .prev:hover {
    opacity: .7;
    transition: .3s
}

.pagination .next {
    background: url("../images/4. Testimonials/pagination_right.svg") no-repeat center center;
    width: 10px;
    height: 17px;
    display: block;
    transition: .3s;
    margin-left: 30px
}

@media (max-width: 1199px) {
    .pagination .next {
        margin-left: 20px
    }
}

.pagination .next.no_pages {
    background: url("../images/icons/pagination-no-pages.svg") no-repeat center center;
    transform: rotate(360deg);
    box-shadow: 0px 4px 45px rgba(225, 227, 232, 0.5);
    border-radius: 50px
}

.pagination .next.no_pages:hover {
    cursor: default;
    opacity: 1
}

.pagination .next:hover {
    opacity: .7;
    transition: .3s
}

.module-post .post {
    margin-bottom: 65px;
    background: #F5F5F5
}

.module-post .post:last-child {
    margin-bottom: 0
}

.module-post .post .images {
    position: relative
}

.module-post .post .images img {
    width: 100%
}

.module-post .post .post_body {
    padding: 0 57px 42px 57px
}

.module-post .post .post_body .title {
    font-size: 49px;
    line-height: 59px;
    margin-bottom: 59px;
    position: relative;
    color: #575756;
    margin-top: 36px;
    display: inline-flex
}

.module-post .post .post_body .title:before {
    content: '';
    position: absolute;
    width: 79px;
    height: 6px;
    background: #FF7667;
    left: 0;
    bottom: -25px
}

.module-post .post .post_body .content {
    font-size: 22px;
    line-height: 27px;
    color: #868686;
    margin-bottom: 25px
}

.module-post .post .post_footer {
    padding: 0 57px 0 57px
}

.module-post .post .post_footer .cat {
    border-top: 1px solid #868686;
    padding: 20px 0 27px 0;
    font-size: 22px;
    line-height: 27px;
    color: #868686
}

.module-post .post .post_footer .cat .cat_link {
    color: #868686
}

.module-post .post.video .images:before {
    content: '';
    background: url("../images/3. Articles _ Videos/video.svg") no-repeat center center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.module-post.module-post_1 .post {
    background: none;
    margin-bottom: 45px
}

.module-post.module-post_1 .post .post_body {
    padding: 0
}

.module-post.module-post_1 .post .post_body .title {
    font-size: 26px;
    line-height: 31px;
    padding: 15px 30px 0 30px;
    margin: 0
}

.module-post.module-post_1 .post .post_body .title:before {
    content: none
}

.sidebar .sidebar_title {
    font-size: 2.894rem;
    line-height: 1.216;
    color: #6F6F6E;
    margin-bottom: 2.1875rem
}

.sidebar .sidebar_item {
    position: relative;
    padding-bottom: 3.4375rem;
    margin-bottom: 2.5rem
}

.sidebar .sidebar_item:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1px;
    background: #868686;
    width: 29.1875rem
}

.sidebar .sidebar_item:last-child:before {
    content: none
}

.categories_list {
    margin-bottom: 2rem
}

.categories_list:last-child {
    margin-bottom: 0
}

.categories_list li {
    margin-bottom: 1.125rem
}

.categories_list li:last-child {
    margin-bottom: 0
}

.categories_list li a {
    color: #575756;
    font-size: 2.034em;
    line-height: 1.192;
}

.categories_list .sub_list {
    padding-left: 2.5rem
}

.categories_list .sub_list li {
    position: relative
}

.categories_list .sub_list li:before {
    content: '';
    position: absolute;
    width: 6.79px;
    height: 6.79px;
    background: #575756;
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%
}

.profile_menu_bg {
    background: #FF7667
}

.profile_menu_bg .profile_menu {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center
}

.profile_menu_bg .profile_menu li {
    margin-right: 13.1875rem;
    position: relative;
}

.profile_menu_bg .profile_menu li:after {
    content: '';
    width: .75px;
    height: 37px;
    background: #ECECEC;
    position: absolute;
    right: -6.59375rem;
    top: 50%;
    transform: translate(0, -50%);
}

.profile_menu_bg .profile_menu li:last-child:after {
    content: none;
}

.profile_menu_bg .profile_menu li:last-child {
    margin-right: 0
}

.profile_menu_bg .profile_menu li a {
    font-size: 1.940rem;
    color: #fff;
    display: flex;
    align-items: center
}

.profile_menu_bg .profile_menu li .icon {
    margin-right: 1.5625rem
}

.profile_menu_bg .profile_menu li .icon svg {
    display: flex
}

.menu li a:hover {
    color: #FF756A
}

header {
    padding: 2.5rem 0
}

header .logo {
    max-width: 15.625rem;
}

header .menu {
    display: flex;
    align-items: center;
    margin-right: 4.75rem
}

header .menu li {
    margin-right: 3.9375rem
}

header .menu li:last-child {
    margin-right: 0
}

header .menu li a {
    color: #6F6F6F;
    font-size: 1.75em;
    font-family: HelveticaNeueCyr_Light
}

header .user_box {
    margin-left: 4.6875rem
}

.top_section {
    position: relative;
    height: 81.25rem
}

.top_section:before {
    content: '';
    position: absolute;
    left: 0;
    top: 45.625rem;
    background: url("../images/1. Home Page/Slider-2.png") no-repeat top left;
    width: 28rem;
    height: 38.1875rem;
    background-size: contain;
}

.top_section:after {
    content: '';
    position: absolute;
    right: -0.9375rem;
    top: 0;
    background: url("../images/1. Home Page/Slider-1.png") no-repeat top left;
    width: 71.5625rem;
    height: 85.1875rem;
    background-size: contain;
}

.people_saying {
    margin-bottom: 130px
}

.people_saying .container {
    background: url("../images/1. Home Page/ellipse.svg") no-repeat center center;
    background-size: contain
}

.people_saying.people_saying_1 {
    margin-bottom: 0
}

.people_saying.people_saying_1 .container {
    background: url("../images/4. Testimonials/background.png") no-repeat center center;
    background-size: contain
}

.trust_us {
    background: url("../images/1. Home Page/Why trust us-background.png") no-repeat center center;
    background-size: cover;
    padding: 8.75rem 0;
    margin-top: 6.875rem
}

.module-content h1 {
    color: #3C3C3B;
    font-size: 3.754rem;
    line-height: 1.2;
    font-family: HelveticaNeueCyr_Black
}

.module-content .text {
    font-size: 2.269rem;
    line-height: 1.2;
    color: #6F6F6E;
    margin: 3rem 0 2.5rem 0
}

.module-content.module-content_1 .text {
    margin: 27.7px 0;
    font-family: HelveticaNeueCyr_Roman;
    color: #3C3C3B
}

.module-content.module-content_1 .mail {
    font-family: HelveticaNeueCyr_Bold;
    font-size: 36px;
    line-height: 44px;
    color: #3C3C3B
}

.module-content.module-content_2 {
    text-align: center;
    margin: 105px auto 0 auto;
    max-width: 400px
}

.module-content.module-content_2 .text {
    color: #3C3C3B;
    margin-top: 0.75rem;
    margin-bottom: 0
}

.module-content.module-content_2.module-content_2_1 {
    max-width: none
}

h2.title_section {
    font-size: 4.302rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 6.25rem;
    font-family: HelveticaNeueCyr_Black
}

.accordion_section {
    padding: 108px 0 0 0
}

.accordion_section .title_accordion {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 60px
}

.accordion_section .accordion {
    margin-bottom: 78px
}

.articles {
    padding-top: 70px
}

.info_user {
    padding: 3.75rem 0 10rem 0;
}

.info_user .info_list .title {
    color: #575756;
    margin-bottom: 2.1875rem;
    font-size: 2.878rem;
}

.wrapper_list .row_list {
    display: flex;
    border-bottom: 1px solid #868686;
    padding: 2rem 0;
}

.wrapper_list .row_list .label, .wrapper_list .row_list .value {
    font-size: 2.425rem;
    color: #6F6F6E;
}

.wrapper_list .row_list .value {
    color: #FF7667;
    margin-left: 35px;
}

.pdf_box .title, .preferences .title {
    color: #575756;
    margin-bottom: 2rem;
    font-size: 2.878rem;
    font-family: HelveticaNeueCyr_Bold;
}

.preferences .title {
    margin: 10.25rem 0 4.5625rem 0;
}

.pdf_box .sub_title {
    color: #868686;
    margin-bottom: 4.5rem;
    font-size: 2.252rem;
}

.pdf_box .pdf_item {
    text-align: center;
    width: 246px;
    margin-right: 4.1875rem;
}

.pdf_box .pdf_item:last-child {
    margin-right: 0;
}

.pdf_box .pdf_item .item_inner {
    border: 2px solid #D9D9D9;
    border-radius: 14px;
    margin-bottom: 1.4375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.pdf_box .pdf_item .date {
    color: #575756;
    font-size: 1.439rem;
    text-align: center;
    border-top: 2px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.875rem;
    width: 100%;
}

.pdf_box .pdf_item .icon {
    padding: 1.25rem;
}


.preferences_form label {
    display: flex;
    align-items: flex-end;
}

.preferences_form .wrap_input {
    display: flex;
    flex-direction: column;
}

.preferences_form .title_label {
    font-size: 2.002rem;
    margin-bottom: 1.875rem;
}

.preferences_form .input {
    font-size: 2.002rem;
    border-bottom: 1px solid #868686;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 1.375rem;
    padding-bottom: 0.625rem;
    font-family: HelveticaNeueCyr_Light;
}

.preferences_form .input_510 {
    width: 510px;
}

.preferences_form .input_370 {
    width: 370px;
}


.preferences_form label {
    margin-bottom: 3.6875rem;
}

.preferences_form label:last-child {
    margin-bottom: 0;
}

.preferences_form select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #868686;
    font-family: HelveticaNeueCyr_Light;
    width: 12.5rem;
    padding-bottom: 0.625rem;
    padding-top: 0;
    background: url("../images/select_arr.svg") no-repeat right;
    margin-right: 1.375rem;
    appearance: none;            /* remove arrow        */
    -webkit-appearance: none;    /* remove arrow Chrome */
    -moz-appearance: none;       /* remove arrow FF     */
    font-size: 2.002rem;
    margin-right: 1.375rem;
    padding-bottom: 0.625rem;
    outline: none;
}

.avatar .wrap_img {
    width: 6.375rem;
    height: 6.375rem;
    margin-right: 2.75rem;
}

.avatar .wrap_img img {
    object-fit: cover;
    width: 100%;
}

.avatar .wrap_btn_img {
    display: flex;
    align-items: center;
}

.delete_profile .wrap_input {
    flex-direction: row;
}

.delete_profile .title_label {
    margin-bottom: 0;
    margin-right: 2.0625rem;
}


.btn_delete {
    background: #e4342a;
    transition: .3s;
}

.btn_delete:hover {
    background: #ff3851;
    transition: .3s;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}


/*# sourceMappingURL=main.css.map */
