@import "reset.scss";
@import "../libs/bootstrap/scss/bootstrap.scss";
@import "fonts";
@import "helper-classes";
@import "btn";
@import "module-card";
@import "module-card-row";
@import "footer";
@import "page_content";
@import "page_contact_us";
@import "accordion";
@import "pagination";
@import "post";
@import "sidebar";


.profile_menu_bg {
  background: #FF7667;

  .profile_menu {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin-right: 211px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 31px;
        color: #fff;
        display: flex;
        align-items: center;
      }

      .icon {
        margin-right: 25px;

        svg {
          display: flex;
        }
      }
    }
  }
}

.menu {
  li {
    a {
      &:hover {
        color: #FF756A;
      }
    }
  }
}


header {
  padding: 40px 0;

  .logo {
    max-width: 250px;
  }

  .menu {
    display: flex;
    align-items: center;
    margin-right: 76px;

    li {
      margin-right: 63px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #6F6F6F;
        font-size: 1.75em;
        font-family: HelveticaNeueCyr_Light;
      }
    }
  }

  .user_box {
    margin-left: 75px;
  }
}

.top_section {
  position: relative;
  height: 1300px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 730px;
    background: url("../images/1. Home Page/Slider-2.png") no-repeat top left;
    width: 448px;
    height: 611px;
  }

  &:after {
    content: '';
    position: absolute;
    right: -25px;
    top: 0;
    background: url("../images/1. Home Page/Slider-1.png") no-repeat top left;
    width: 1145px;
    height: 1363px;
  }
}

.people_saying {
  margin-bottom: 130px;

  .container {
    background: url("../images/1. Home Page/ellipse.svg") no-repeat center center;
    background-size: contain;
  }

  // testimonials.php
  &.people_saying_1 {
    .container {
      background: url("../images/4. Testimonials/background.png") no-repeat center center;
      background-size: contain;
    }

    margin-bottom: 0;
  }
}

.trust_us {
  background: url("../images/1. Home Page/Why trust us-background.png") no-repeat center center;
  background-size: cover;
  padding: 140px 0;
  margin-top: 110px;
}

.module-content {
  h1 {
    color: #3C3C3B;
    font-size: 60px;
    line-height: 73px;
    font-family: HelveticaNeueCyr_Black;
  }

  .text {
    font-size: 29px;
    line-height: 35px;
    color: #6F6F6E;
    margin: 48px 0 23px 0;
  }

  // contact_us.php
  &.module-content_1 {
    .text {
      margin: 27.7px 0;
      font-family: HelveticaNeueCyr_Roman;
      color: #3C3C3B;
    }

    .mail {
      font-family: HelveticaNeueCyr_Bold;
      font-size: 36px;
      line-height: 44px;
      color: #3C3C3B;
    }
  }

  // testimonials.php
  &.module-content_2 {
    text-align: center;
    margin: 105px auto 0 auto;
    max-width: 400px;

    .text {
      color: #3C3C3B;
      margin-top: 12px;
      margin-bottom: 0;
    }

    // articles_videos.php
    &.module-content_2_1 {
      max-width: none;
    }
  }
}

h2.title_section {
  font-size: 55px;
  line-height: 66px;
  text-align: center;
  margin-bottom: 100px;
  font-family: HelveticaNeueCyr_Black;
}

.accordion_section {
  padding: 108px 0 0 0;

  .title_accordion {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .accordion {
    margin-bottom: 78px;
  }
}

.articles {
  padding-top: 70px;
}