.test_top_s {
    background: url(../images/phase_1_background.png) no-repeat center top;
    background-size: 100%;
    padding-bottom: 50px;
    background-size: auto;
}

.test_top_s .titles_wrpr {
    text-align: center;
    padding-top: 8.5rem;
    padding-bottom: 5rem;
}

.test_top_s .titles_wrpr h1 {
    font-family: HelveticaNeueCyr_Black;
    font-size: 4.694rem;
    line-height: 1.102;
    color: #3C3C3B;
}

.test_top_s .titles_wrpr h3 {
    font-family: HelveticaNeueCyr_Roman;
    font-size: 2.112rem;
    line-height: 1.185;
    color: #3C3C3B;
    margin-top: 1.1875rem;
}

.light_squares_items_wrpr {
    display: flex;
    justify-content: center;
}

.light_square_item {
    max-width: 28.25rem;
    margin: 0 1.875rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    text-align: center;
    padding: 1.9375rem 2.0625rem;
}

.light_square_item .icon_wrpr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-bottom: 26px;
}

.light_square_item .icon_wrpr svg {
    width: 5rem;
}

.light_square_item .item_title {
    font-family: HelveticaNeueCyr_Bold;
    font-size: 1.850rem;
    line-height: 1.176;
    color: #ED756A;
    margin-bottom: 28px;
}

.light_square_item .item_text {
    font-family: HelveticaNeueCyr_Roman;
    font-size: 1.306rem;
    line-height: 1.207;
    color: #868686;
}

.detailed_instr_wrpr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 41px;
}

.detailed_instr {
    display: flex;
    align-items: center;
    font-family: HelveticaNeueCyr_Roman;
    font-size: 1.314rem;
    color: #9C9B9B;
}

.detailed_instr svg {
    width: 1.6875rem;
    height: 1.6875rem;
    margin-right: 15px;
}

.detailed_instr svg path {
    fill: #9C9B9B;
}

.detailed_instr:hover {
    color: #ED756A;
}

.detailed_instr:hover svg path {
    fill: #ED756A;
}

.test_progress_s {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;
}

.test_progress_percents {
    font-family: HelveticaNeueCyr_Bold;
    font-size: 2.065rem;
    line-height: 1.212;
    color: #868686;
    margin-right: 20px;
}

.test_progress_line {
    position: relative;
    width: 70.375rem;
    height: 0.5625rem;
    background: #D9D9D9;
    border-radius: 4px;
    overflow: hidden;
}

.test_progress_line_fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #FF7667;
    border-radius: 4px;
}

.test_qa_s {
    padding-top: 50px;
}

.qa_row {
    padding: 3.0625rem 0;
    border-bottom: 1px solid #D9D9D9;
    max-width: 72rem;
    margin: 0 auto;
}

.qa_answ_wrpr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qa_radios_wrpr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qa_radio {
    cursor: pointer;
    margin: 0 18px;
}

.qa_radio_circle {
    border: 2px solid #B1B1B1;
    border-radius: 50%;
    background: #fff;
    display: block;
}

.qa_radio input {
    display: none;
}

.qa_radio.size_1 .qa_radio_circle {
    width: 71px;
    height: 71px;
}

.qa_radio.size_2 .qa_radio_circle {
    width: 56px;
    height: 56px;
}

.qa_radio.size_3 .qa_radio_circle {
    width: 44px;
    height: 44px;
}

.qa_radio.size_4 .qa_radio_circle {
    width: 33px;
    height: 33px;
}

.qa_radio.red .qa_radio_circle {
    border-color: #FF7667;
}

.qa_radio.blue .qa_radio_circle {
    border-color: #35A8E0;
}

.qa_radio.grey input:checked ~ .qa_radio_circle {
    background: #B1B1B1;
}

.qa_radio.red input:checked ~ .qa_radio_circle {
    background: #FF7667;
}

.qa_radio.blue input:checked ~ .qa_radio_circle {
    background: #35A8E0;
}

.qa_side_label {
    font-family: HelveticaNeueCyr_Medium;
    font-size: 2.065rem;
    line-height: 1.212;
}

.qa_side_label.red {
    color: #FF7667;
    margin-right: 18px;
}

.qa_side_label.blue {
    color: #35A8E0;
    margin-left: 18px;
}

.question_title {
    text-align: center;
    margin-bottom: 35px;
    font-family: HelveticaNeueCyr_Bold;
    font-size: 2.065rem;
    line-height: 1.212;
    color: #3C3C3B;
}

.test_qa_step_wrpr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.125rem;
}

.test_qa_step_wrpr .btn {
    font-size: 2.660rem;
    padding: 0.9375rem 7.0625rem;
    border-radius: 2.5rem;
}

.top_titles_s {
    background: url(../images/top_titles_s_bg.png) no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}

.top_titles_s .titles_wrpr {
    padding: 6.25rem 0 9.375rem;
    text-align: center;
}

.top_titles_s .titles_wrpr h1 {
    font-family: HelveticaNeueCyr_Black;
    font-size: 3.441rem;
    line-height: 1.327;
    color: #3C3C3B;
    max-width: 55.5rem;
    margin: 0 auto;
}

.top_titles_s h3 {
    font-family: HelveticaNeueCyr_Roman;
    font-size: 1.267rem;
    line-height: 1.185;
    color: #3C3C3B;
    margin-top: 0.625rem;
}

.top_titles_s.with_subtitle .titles_wrpr {
    padding-bottom: 6.5625rem;
}

.trinity_bordr_items_wrpr {
    display: flex;
    justify-content: center;
    margin-top: 3.0625rem;
}

.trinity_bordr_item {
    border-radius: 20px;
    border: 2px solid #B1B1B1;
    text-align: center;
    padding: 3.4375rem 3.0625rem;
    min-width: 34.8125rem;
    min-height: 45.1875rem;
}

.trinity_bordr_items_wrpr .trinity_bordr_item:nth-child(1) {
    transform: scale(0.88) translateX(7%);
}

.trinity_bordr_items_wrpr .trinity_bordr_item:nth-child(2) {
    border-color: #FF7667;
    z-index: 2;
}

.trinity_bordr_items_wrpr .trinity_bordr_item:nth-child(3) {
    transform: scale(0.88) translateX(-7%);
}

.trinity_bordr_items_wrpr .trinity_bordr_item:nth-child(3) .item_p_text p {
    margin: 0 -30px;
}

.trinity_bordr_item .item_header p {
    font-size: 1.8rem;
    line-height: 1.172;
    color: #575756;
    font-family: HelveticaNeueCyr_Roman;
}

.trinity_bordr_item .item_header p b {
    font-size: 2.486rem;
    line-height: 1.194;
    font-family: HelveticaNeueCyr_Bold;
    display: block;
    margin-top: 0.6875rem;
}

.trinity_bordr_item .item_color_text {
    padding: 3.4375rem 0 3.75rem;
    font-size: 3.797rem;
    line-height: 1.200;
    color: #FF7667;
    font-family: HelveticaNeueCyr_Bold;
}

.trinity_bordr_item .item_p_text p {
    font-family: HelveticaNeueCyr_Roman;
    font-size: 1.940rem;
    line-height: 1.194;
    color: #868686;
}

.trinity_bordr_item .item_footer {
    margin-top: 3.25rem;
}

.trinity_bordr_item .item_footer h3 {
    font-family: HelveticaNeueCyr_Bold;
    font-size: 1.940rem;
    line-height: 1.194;
    color: #575756;
    margin-bottom: 2.25rem;
}

.trinity_bordr_item .item_footer .btn {
    font-size: 2.25rem;
    padding: 1.0625rem 6.5rem;
    border-radius: 2.5rem;
}

.s_title {
    text-align: center;
    font-family: HelveticaNeueCyr_Medium;
    font-size: 3.038rem;
    line-height: 1.182;
    color: #3C3C3B;
    max-width: 72.5rem;
    margin: 0 auto;
    margin-bottom: 2.0625rem;
}

.s_subtitle {
    text-align: center;
    font-family: HelveticaNeueCyr_Light;
    font-size: 2.209rem;
    line-height: 1.375;
    color: #575756;
    max-width: 72.5rem;
    margin: 0 auto;
}

.trinity_test_access_s {
    padding-top: 5rem;
}

.icon_w_text_block {
    margin-top: 7.5rem;
}

.icon_w_text_block .icon_wrpr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.1875rem;
}

.icon_w_text_block .icon_wrpr img {
    max-width: 7.875rem;
}

.youre_top_text_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.youre_top_text_item {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    position: relative;
}

.youre_top_text_item .left_text {
    font-family: HelveticaNeueCyr_Medium;
    font-size: 2.252rem;
    line-height: 1.194;
    color: #6F6F6E;
    margin-right: 1.9375rem;
    display: block;
}

.youre_top_text_item .right_text {
    font-family: HelveticaNeueCyr_Bold;
    font-style: italic;
    font-size: 2.252rem;
    line-height: 1.194;
    color: #FF7667;
    display: block;
}

.youre_top_text_block .youre_top_text_item:first-child:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -3px;
    width: 1px;
    height: 5rem;
    background: #868686;
}

.youre_s .youre_img_wrpr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.6875rem;
}

.triple_lists_block {
    display: flex;
    justify-content: space-between;
}

.simple_list li {
    font-size: 2.002rem;
    line-height: 1.375;
    position: relative;
    font-family: HelveticaNeueCyr_Light;
    color: #575756;
    padding-left: 3.125rem;
}

.simple_list li:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 1rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: #FF7667;
}

.pick_prof_s {
    padding-top: 92px;
}

.pick_prof_title {
    font-size: 3.003rem;
    line-height: 1.208;
    font-family: HelveticaNeueCyr_Black;
    color: #3C3C3B;
    text-align: center;
    margin-bottom: 5rem;
}

.pick_prof_items_wrpr {
    display: flex;
    flex-wrap: wrap;
}

.pick_prof_item {
    width: 50%;
    text-align: center;
}

.pick_prof_item .img_wrpr {
    height: 45.3125rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pick_prof_item .img_wrpr img {
    height: 100%;
}

.pick_prof_item .img_wrpr.designer_img img {
    height: 90%;
}

.pick_prof_item .btn {
    margin-top: 3.125rem;
    font-size: 2.572rem;
    padding: 0.8125rem 3.625rem;
    border-radius: 2.5rem;
}

.btn.brdr_btn {
    border: 2px solid #FF7667;
    background: #fff;
    color: #FF7667;
}

.btn.brdr_btn:hover {
    color: #fff;
    background: #FF7667;
}

.blured {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

.blured_images {
    filter: blur(30px);
    pointer-events: none;
    user-select: none;
}

.top_titles_s.with_btn .titles_wrpr {
    padding-bottom: 5.375rem;
}

.see_result_wrpr {
    margin-top: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see_result_wrpr .btn {
    font-size: 2rem;
    line-height: 1.206;
    padding: 0.9375rem 3.875rem;
    border-radius: 2.5rem;
}

.see_result_wrpr.single_block {
    margin-top: 6.25rem;
}

.register_popup {
    display: none;
    border-radius: 2.75rem;
    background: #fff;
    width: 55.9375rem;
    padding: 4.6875rem 4.1875rem;
}

.form_group {
    margin-bottom: 1.3125rem;
}

.text_input {
    border: 0;
    border-bottom: 1px solid #868686;
    background: transparent;
    font-family: HelveticaNeueCyr_Roman;
    font-size: 1.864rem;
    line-height: 1.185em;
    padding: 1.75rem 0;
    display: block;
    width: 100%;
    color: #868686;
}

.select {
    border-bottom: 1px solid #868686;
    overflow: hidden;
    background: #fff url(../images/select_arrow.svg) no-repeat 100% 50%;
    display: block;
    width: 14.6875rem;
}

.select select {
    font-family: HelveticaNeueCyr_Roman;
    font-size: 1.864rem;
    line-height: 1.185em;
    color: #868686;
    padding: 1.75rem 0;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    -webkit-appearance: none;
    outline: none;
}

.register_popup_form .form_group:last-child {
    margin-bottom: 0;
}

.register_popup_form .btn_wrpr {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.register_popup_form .btn_wrpr .btn {
    font-size: 2.348rem;
    line-height: 1.206;
    padding: 0.8125rem 6.1875rem;
    border-radius: 2.5rem;
    font-family: HelveticaNeueCyr_Medium;
    border: 0;
    outline: none;
    cursor: pointer;
}

.popup_title {
    font-family: HelveticaNeueCyr_Black;
    font-size: 3.797rem;
    line-height: 1.200;
    color: #3C3C3B;
    margin-bottom: 1rem;
    text-align: center;
}

.popup_subtitle {
    font-family: HelveticaNeueCyr_Roman;
    font-size: 1.864rem;
    line-height: 1.185;
    color: #575756;
    margin-bottom: 4.125rem;
    text-align: center;
}

.register_popup .fancybox-close-small {
    display: none;
}

/*.trinity_bordr_item .item_header {*/
/*    min-height: 8.563rem;*/
/*}*/
.trinity_bordr_item .item_p_text {
    min-height: 11.563rem;
}

.top_titles_s.trinity_access_two_page h1 {
    max-width: 73.625rem;
}

.trinity_test_access_s.trinity_access_two_page .container > .s_title {
    max-width: 77.75rem;
}

.trinity_test_access_s.trinity_access_two_page .container > .s_subtitle {
    max-width: 53.3125rem;
}

.trinity_bordr_items_wrpr.without_scale div.trinity_bordr_item {
    transform: none;
    width: 31.375rem;
    min-width: 31.375rem;
    padding: 3.1875rem 3.0625rem;
    min-height: 41.875rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.trinity_bordr_items_wrpr.without_scale .trinity_bordr_item:nth-child(1) {
    border-radius: 20px 0 0 20px;
}

.trinity_bordr_items_wrpr.without_scale .trinity_bordr_item:nth-child(2) {
    border-color: #B1B1B1;
    border-radius: 0 20px 20px 0;
    transform: translateX(-2px);
}

.without_scale .trinity_bordr_item .item_p_text p {
    font-size: 1.502rem;
    line-height: 1.167;
}

.without_scale .trinity_bordr_item .item_footer h3 {
    font-size: 1.502rem;
    line-height: 1.208;
}

.without_scale .trinity_bordr_item .item_header p {
    font-size: 1.564rem;
    line-height: 1.24;
}

.without_scale .trinity_bordr_item .item_header p b {
    font-size: 1.752rem;
    line-height: 1.179;
    margin-top: 0.5rem;
}

.without_scale .trinity_bordr_item .item_color_text {
    padding: 2.628rem 0 2.5rem;
    font-size: 2.628rem;
    line-height: 1.214;
}

.without_scale .trinity_bordr_item .item_footer .btn {
    font-size: 1.752rem;
    padding: 0.8125rem 4.875rem;
    border-radius: 2.0625rem;
}

.trinity_bordr_items_wrpr.without_scale {
    margin-top: 5.625rem;
}

.tf-result-wrap.result_designer h1 {
    line-height: 3rem;
    margin-bottom: 0.9375rem;
}

.tf-result-wrap.result_designer p {
    margin-bottom: 4.9375rem;
}

header .user_box {
    border-radius: 50%;
    overflow: hidden;
    width: 3.875rem;
    height: 3.875rem;
}

header .user_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mob_menu_btn {
    display: none;
}

body.menu_open {
    overflow: hidden;
}

.take_the_test_mob {
    display: none;
}

.privacy_policy_page.page_content .header_content .title {
    font-size: 3.245rem;
    line-height: 1.213;
    padding-bottom: 2.875rem;
    margin-bottom: 3.9375rem;
}

.privacy_policy_page.page_content .header_content .last_modified {
    font-size: 2.002rem;
    line-height: 1.207;
    margin-bottom: 3.75rem;
}

.privacy_policy_page.page_content .body_content h2 {
    font-size: 3.245rem;
    line-height: 1.213;
    margin-bottom: 2.3125rem;
}

.privacy_policy_page.page_content .body_content p {
    font-size: 2.209rem;
    line-height: 1.375;
    margin-bottom: 1.875rem;
}

.privacy_policy_page.page_content .body_content blockquote {
    font-size: 2.209rem;
    line-height: 1.375;
}

.privacy_policy_page.page_content .body_content ul li {
    font-size: 2.209rem;
    line-height: 1.375;
    padding-left: 1.875rem;
    margin-bottom: 1.25rem;
}

.privacy_policy_page.page_content .body_content ul li:before {
    width: 0.8125rem;
    height: 0.8125rem;
}

.top_section_image.top_section_image_2 {
    background-size: cover;
    height: 18.75rem;
}

.top_section_image_2 .module-content.module-content_2.module-content_2_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 18.75rem;
}

.articles_page .module-post.module-post_1 .post .post_body .title {
    font-size: 1.795rem;
    line-height: 1.192;
    padding: 0.9375rem 1.875rem 0 1.875rem;
    margin-top: 0;
}

.btn.btn_no_bg {
    border-radius: 1.5625rem;
}

.articles_page .module-post .post .post_body .title {
    font-size: 3.383rem;
    line-height: 1.204;
    margin-bottom: 3.6875rem;
    margin-top: 2.25rem;
}

.articles_page .module-post .post .post_body .content {
    font-size: 1.519rem;
    line-height: 1.227;
    margin-bottom: 1.5625rem;
}

.articles_page .module-post .post .post_footer .cat {
    font-size: 1.519rem;
    line-height: 1.227;
    padding: 1.25rem 0 1.6875rem 0;
}

.articles_page .sidebar .sidebar_item:before {
    width: 100%;
}

.articles_page