@media(min-width: 1920px) {
    .top_section_image {
        background-size: cover;
    }
}

@media(min-width: 1199px) {
    .page_content .body_content p {
        font-size: 1.965rem;
        line-height: 1.375;
        margin-bottom: 1.875rem;
    }

    .page_content .body_content h2 {
        font-size: 2.886rem;
        line-height: 1.213;
        margin-bottom: 2.3125rem;
    }

    .page_content .header_content .last_modified {
        font-size: 1.781rem;
        line-height: 1.207;
        margin-bottom: 3.75rem;
    }

    .page_content .header_content .title {
        font-size: 2.886rem;
        line-height: 1.213;
        padding-bottom: 2.875rem;
        margin-bottom: 3.9375rem;
    }

    .module-content.module-content_1 .mail {
        font-size: 2.211rem;
        line-height: 1.222;
    }

    .module-content.module-content_1 .text {
        margin: 1.73125rem 0;
    }

    .accordion_section .title_accordion {
        font-size: 3.071rem;
        line-height: 1.200;
        margin-bottom: 3.75rem;
    }

    .accordion_section .accordion {
        margin-bottom: 4.875rem;
    }

    .accordion .title_block {
        font-size: 2.579rem;
        padding: 2.4375rem 3.4375rem 2.4375rem 3.9375rem;
    }

    .accordion .info {
        padding: 0.3125rem 0 2.5rem 0;
        font-size: 1.781rem;
        line-height: 1.172;
    }

    .accordion_section {
        padding: 6.75rem 0 0 0;
    }
}

@media(max-width: 1199px) {
    .accordion_section .title_accordion {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    .accordion .title_block {
        font-size: 26px;
        font-size: 26px;
        padding: 25px 30px 25px 41px;
    }

    .accordion .info {
        font-size: 20px;
        line-height: 30px;
    }

    .s-final-test-top {
        padding: 60px 0 117px;
    }

    .tf-result-list li {
        font-size: 22px;
        line-height: 26px;
    }

    .tf-text p {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .s-final-test-top h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .quote {
        font-size: 22px;
        line-height: 32px;
    }

    .tf-text-box .btn,
    .tf-result-wrap .btn {
        padding: 13px 30px 14px 30px;
        font-size: 16px;
        border-radius: 40px;
    }

    .quote {
        padding-left: 22px;
        border-left: 3px solid #FF7667;
        max-width: 1070px;
        margin-bottom: 20px;
    }

    .s-final-test-top {
        padding: 60px 0 117px;
    }

    .tf-img-top img,
    .tf-text .icon img {
        width: auto;
    }

    .tf-text {
        padding-top: 40px;
    }

    .phase-form {
        max-width: 1154px;
        padding-bottom: 60px;
    }

    .phase-form .question_title {
        margin-bottom: 60px;
    }

    .phase-form .textarea-group {
        max-width: 925px;
        border-radius: 22px;
    }

    .phase-form textarea {
        min-height: 315px;
        padding: 20px;
        font-size: 18.672px;
    }

    .input-file {
        font-size: 19.648px;
    }

    .tf-result-wrap h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .tf-result-wrap p {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .radio-group {
        max-width: 900px;
    }

    .phase-form.pb-40 {
        padding-bottom: 20px;
    }

    .radio-container:first-child {
        padding-left: 90px;
        padding-right: 40px;
    }

    .radio-container:first-child .checkmark {
        border-top-left-radius: 75px;
        border-bottom-left-radius: 75px;
    }

    .radio-container:last-child .checkmark {
        border-top-right-radius: 75px;
        border-bottom-right-radius: 75px;
    }

    .radio-container:last-child {
        padding-left: 40px;
        padding-right: 40px;
    }

    .radio-container {
        padding-top: 34px;
        padding-bottom: 34px;
        font-size: 23px;
    }

    .module-content.module-content_1 .mail {
        font-size: 26px;
        line-height: 36px;
    }
}

@media(max-width: 991px) {
    .top_section_image {
        background: none;
        height: auto;
    }

    .top_section_image .margin_l_auto {
        margin-right: auto;
    }

    .radio-container {
        font-size: 18px;
        width: 100%;
        padding: 20px !important;
        margin-bottom: 20px;
    }

    .radio-container .checkmark {
        border-radius: 75px;
    }

    .radio-container:last-child .checkmark {
        border: 2px solid #FF7667;
    }

    .tf-text .icon {
        max-width: 200px;
        min-width: 200px;
    }

    .tf-result-wrap {
        margin-top: 40px;
        padding-left: 0;
    }

    .radio-group {
        flex-direction: column;
    }
}

@media(max-width: 767px) {
    .accordion_section {
        padding: 60px 0 0;
    }

    .accordion_section .title_accordion {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 33px;
    }

    .accordion .title_block {
        font-size: 18px;
        padding: 20px 30px 20px 30px;
    }

    .accordion .info {
        font-size: 16px;
        line-height: 25px;
    }

    .accordion_section .accordion {
        margin-bottom: 25px;
    }

    .phase-form .question_title {
        margin-bottom: 30px;
    }

    .radio-container {
        font-size: 16px;
    }

    .tf-result-wrap p {
        font-size: 20px;
    }

    .tf-result-wrap h1 {
        font-size: 26px;
    }

    .s-final-test-top h1 {
        font-size: 34px;
        line-height: 44px;
    }

    .tf-text .d-flex {
        flex-direction: column;
    }

    .tf-text .icon+.text-group,
    .tf-text .text-group+.icon {
        margin-left: 0;
    }

    .tf-text .icon {
        margin-bottom: 20px;
    }

    .tf-text .col-reverse {
        flex-direction: column-reverse;
    }
}

@media(max-width: 576px) {
    .module-content.module-content_1 .mail {
        font-size: 18px;
        line-height: 26px;
    }

    .tf-text p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .quote {
        font-size: 20px;
        line-height: 30px;
    }

    .tf-result-list li {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 13px;
        padding-bottom: 13px;
    }

    .tf-result-list li .label {
        margin-right: 10px;
    }

    .s-final-test-top h1 {
        font-size: 28px;
        line-height: 38px;
    }

}

@media(max-width: 400px) {}