@media (min-width: 1921px) {
    .container {
        width: 90%;
        max-width: 90%;
    }

    .test_top_s {
        background: url(../images/phase_1_background.png) no-repeat center top;
        background-size: 100%;
        padding-bottom: 50px;
    }
}

@media (max-width: 1800px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 1199px) {
    .profile_menu_bg .profile_menu li {
        margin-right: 28px;
    }

    .profile_menu_bg .profile_menu li a {
        font-size: 15px;
    }

    .info_list {
        margin-top: 50px;
    }

    .info_user .info_list .title {
        font-size: 22px;
        margin-bottom: 14px;
    }

    .wrapper_list .row_list .label, .wrapper_list .row_list .value {
        font-size: 16px;
    }

    .info_user {
        padding: 50px 0;
    }

    .pdf_box .title, .preferences .title {
        margin-bottom: 12px;
        font-size: 21px;
    }

    .pdf_box .pdf_item .date {
        font-size: 18px;
    }

    .btn {
        font-size: 21px;
        padding: 10px;
    }

    .preferences_form .title_label {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .preferences_form .input {
        margin-right: 0;
        padding-bottom: 9px;
        font-size: 17px;
    }

    .pdf_box .pdf_item .item_inner {
        margin-bottom: 23px;
    }

    .pdf_box .pdf_item {
        margin-right: 35px;
    }

    .preferences_form label {
        display: block;
    }

    .preferences_form .wrap_input {
        width: 100%;
        margin-bottom: 20px;
    }

    .delete_profile .wrap_input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .wrapper_list .row_list {
        padding: 17px 0;
    }

    .preferences_form select {
        width: 100%;
        margin-right: 0;
        padding-bottom: 9px;
        font-size: 17px;
    }

    .profile_menu_bg .profile_menu li .icon {
        margin-right: 15px
    }

    .profile_menu_bg .profile_menu {
        padding: 30px 0;
        height: auto;
    }

    footer .copyright {
        font-size: 20px;
    }

    footer .menu {
        margin: 15px 0;
    }

    footer .menu li {
        margin: 8px 0;
    }

    footer .menu li a {
        font-size: 18px;
    }

    .menu_icon li a svg {
        width: 25px;
    }

    .menu_icon li {
        margin-right: 15px;
    }

    footer {
        padding: 50px 0;
    }

    .pdf_box .pdf_item .icon {
        padding: 30px;
    }

    .pdf_box .pdf_item .date {
        font-size: 14px;
        height: 40px;
    }

    .pdf_box .sub_title {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .avatar .wrap_img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }

    .preferences_form label {
        margin-bottom: 25px;
    }

    .preferences .title {
        margin: 40px 0 12px 0;
    }

    .top_section:before, .top_section:after {
        content: none;
    }

    .top_section {
        height: auto;
        padding: 20px 0 50px 0;
    }

    .module-content.margin-t-180 {
        margin-top: 0;
        max-width: none;
    }

    .module-content h1 {
        font-size: 27px;
    }

    .module-content .text {
        font-size: 16px;
        margin: 20px 0;
    }

    .btn.btn_f_s_38 {
        font-size: 20px;
    }

    h2.title_section {
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    .module-card .item {
        padding: 20px;
        width: auto;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .people_saying .container {
        background: none;
    }

    .people_saying .icon {
        width: 50px;
        margin: 0 auto;
    }

    .module-card .item .title {
        font-size: 19px;
        line-height: 1.207;
        margin-bottom: 22px;
        margin-top: 10px;
    }

    .module-card .item .content {
        font-size: 16px;
    }

    .btn.btn_m_b_120_center {
        margin: 20px auto 0 auto;
    }

    .people_saying {
        margin-bottom: 50px;
    }

    .module-card-row .row .item .title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .module-card-row .row .item blockquote {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .module-card-row .row .item .author {
        font-size: 12px;
    }

    .module-card-row .row .item {
        margin-bottom: 30px;
    }

    .module-card-row .row .image {
        margin-bottom: 30px;
    }

    .trust_us {
        padding: 70px 0;
        margin-top: 50px;
    }

    .btn.btn_344_78 {
        padding: 10px;
    }

    .module-card .item .title::before {
        width: 40px;
        height: 1px;
        left: 50%;
        bottom: -10px;
    }

    .module-card.module-card_1 .item .title:before {
        bottom: -10px;
    }

    .module-card.module-card_1 .item .icon {
        width: 60px;
    }

    .top_section_image.top_section_image_1 {
        height: auto;
        padding: 30px 0;
        background: none;
    }

    .module-content.module-content_2 {
        margin: 0;
        max-width: none;
    }

    .module-card.module-card_2 {
        padding-top: 0;
    }

    .module-card.module-card_2 [class*="col-"] {
        margin-bottom: 0;
    }

    .people_saying.people_saying_1 .container {
        background: none;
    }

    .pagination {
        margin-top: 30px;
    }

    .module-content.module-content_2 .text {
        margin-top: 15px;
    }

    .categories_list li a {
        font-size: 20px;
    }

    .categories_list li {
        margin-bottom: 6px;
    }

    .categories_list {
        margin-bottom: 20px;
    }

    .sidebar .sidebar_item {
        padding-bottom: 45px;
        margin-bottom: 35px;
    }

    .sidebar .sidebar_item:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .profile_menu_bg .profile_menu li:after {
        content: none;
    }


    .accordion .title_block:before {
        content: '';
        height: 15px;
        width: 15px;
    }

    .accordion .active_block .title_block:before {
        content: '';
        width: 15px;
        height: 3px;
    }

}

@media (max-width: 576px) {
    .profile_menu_bg .profile_menu {
        display: block;
    }

    .profile_menu_bg .profile_menu li {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .profile_menu_bg .profile_menu li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {

}