@media(max-width: 1199px) {
    .articles .sidebar {
        margin-top: 20px;
    }
    .articles_page .module-post .post .post_body .content {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .articles_page .module-post .post .post_body .title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .module-post .post .post_body {
        padding: 0 20px 20px;
    }
    .articles_page .module-post .post .post_body .title {
        margin-bottom: 20px;
        padding: 0;
        font-size: 32px;
    }
    .articles_page .btn {
        font-size: 20px;
        padding: 8px 25px;
    }
    .articles_page .module-post.module-post_1 .post .post_body .title {
        font-size: 32px;
        line-height: 1.192;
        padding: 0.9375rem 1.875rem 0 1.875rem;
        padding: 0;
    }
    .module-post .post .post_footer {
        padding: 0 20px;
    }
    .articles_page .module-post .post .post_footer .cat {
        font-size: 20px;
        padding: 10px 0;
    }
    .sidebar .sidebar_title {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .module-post .post .post_body .title:before {
        bottom: -7px;
    }
}

@media(max-width: 991px){
    body {
        padding-top: 82px;
    }
    header {
        padding: 24px 0;
        height: 82px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 999;
    }
    .mob_menu_btn {
        overflow: hidden;
        width: 30px;
        height: 30px;
        padding: 0;
        background: transparent;
        border: 0;
        margin-left: 35px;
        display: block;
    }
    .mob_menu_btn span {
        width: 30px;
        height: 5px;
        background: #FF756A;
        border-radius: 11px;
        display: block;
        transition: all 0.3s ease-in-out;
    }
    .mob_menu_btn span:nth-child(2) {
        margin: 6px 0;
    }
    .mob_menu_btn.active span:nth-child(1) {
        transform: rotate(45deg) translate(7px, 8px);
    }
    .mob_menu_btn.active span:nth-child(2) {
        transform: translateX(40px);
    }
    .mob_menu_btn.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -8px);
    }
    .header_nav {
        position: fixed;
        left: -100%;
        top: 82px;
        width: 100%;
        height: calc(100vh - 82px);
        background: #fff;
        transition: .3s;
        z-index: 99;
    }
    .header_nav .menu {
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 82px);
    }
    .header_nav.active {
        left: 0;
    }
    header .menu li {
        margin-right: 0;
        margin: 13px 0;
    }
    header .menu li a {
        font-size: 22px;
    }
    .test_progress_s {
        padding: 0 15px;
    }
    .test_progress_line {
        width: 100%;
    }
    .qa_radio {
        margin: 0px 5px;
    }
    .light_squares_items_wrpr {
        flex-wrap: wrap;
    }
    .light_square_item {
        max-width: 100%;
        width: calc(50% - 30px);
        margin: 0px 15px;
    }
    .test_progress_s {
        height: 100px;
    }
    .simple_list li {
        font-size: 20px;
        padding-left: 20px;
    }
    .simple_list li:before {
        top: 9px;
        width: 8px;
        height: 8px;
    }
    .top_titles_s .titles_wrpr h1 {
        font-size: 32px;
        max-width: 100%;
    }
    .top_titles_s h3 {
        font-size: 24px;
        margin-top: 8px;
    }
    .youre_top_text_item .left_text {
        font-size: 18px;
        margin-right: 10px;
    }
    .youre_top_text_item .right_text {
        font-size: 18px;
    }
    .pick_prof_title {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .pick_prof_item .btn {
        font-size: 20px;
        padding: 8px 24px;
        border-radius: 40px;
    }
    .triple_lists_block {
        flex-wrap: wrap;
    }
    .triple_lists_block .simple_list {
        width: 48%;
    }
    .s_title {
        font-size: 20px;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .s_subtitle {
        font-size: 16px;
        max-width: 100%;
    }
    .trinity_bordr_items_wrpr {
        flex-wrap: wrap;
    }
    .trinity_bordr_item {
        padding: 15px;
        min-width: 100%;
        min-height: inherit;
        margin: 5px 0;
    }
    .trinity_bordr_items_wrpr .trinity_bordr_item:nth-child(1),
    .trinity_bordr_items_wrpr .trinity_bordr_item:nth-child(3) {
        transform: none;
    }
    .trinity_bordr_item .item_p_text {
        min-height: inherit;
    }
    .trinity_bordr_item .item_color_text {
        padding: 10px 0;
        font-size: 30px;
    }
    .trinity_bordr_item .item_header {
        min-height: inherit;
    }
    .trinity_bordr_items_wrpr .trinity_bordr_item:nth-child(3) .item_p_text p {
        margin: 0;
    }
    .trinity_bordr_item .item_footer .btn {
        font-size: 18px;
        padding: 8px 30px;
        border-radius: 40px;
    }
    .icon_w_text_block .icon_wrpr img {
        max-width: 80px;
    }
    .trinity_bordr_items_wrpr.without_scale div.trinity_bordr_item {
        width: 50%;
        min-width: 50%;
        padding: 15px;
        min-height: inherit;
    }
    .without_scale .trinity_bordr_item .item_header p {
        font-size: 16px;
    }
    .without_scale .trinity_bordr_item .item_header p b {
        font-size: 18px;
        margin-top: 5px;
    }
    .without_scale .trinity_bordr_item .item_color_text {
        padding: 20px 0;
        font-size: 26px;
    }
    .without_scale .trinity_bordr_item .item_header {
        min-height: 60px;
    }
    .without_scale .trinity_bordr_item .item_p_text {
        min-height: 100px;
    }
    .without_scale .trinity_bordr_item .item_p_text p {
        font-size: 16px;
    }
    .without_scale .trinity_bordr_item .item_footer h3 {
        font-size: 18px;
    }
    .without_scale .trinity_bordr_item .item_footer .btn {
        font-size: 18px;
        padding: 8px 30px;
        border-radius: 40px;
    }
    .light_square_item .item_text {
        font-size: 18px;
    }
    .light_square_item .item_title {
        font-size: 20px;
    }
    .light_square_item .icon_wrpr {
        height: 60px;
    }
    .light_square_item .icon_wrpr svg {
        width: 60px;
    }
    .detailed_instr svg {
        width: 20px;
        height: 20px;
    }
    .test_qa_step_wrpr {
        margin-top: 20px;
    }
    .detailed_instr {
        font-size: 18px;
    }
    .articles_page .module-post .post .post_body .title {
        font-size: 24px;
    }
}

@media(max-width: 767px){
    .test_top_s .titles_wrpr {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .test_top_s .titles_wrpr h1 {
        font-size: 32px;
        line-height: 38px;
    }
    .test_top_s .titles_wrpr h3 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 15px;
    }
    .light_square_item {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    footer .menu {
        flex-direction: column;
    }
    footer .menu li {
        margin-right: 0;
        margin: 10px 0;
    }
    .qa_answ_wrpr,
    .qa_radios_wrpr {
        flex-direction: column;
    }
    .qa_side_label.red {
        margin: 0;
        margin-bottom: 15px;
    }
    .qa_side_label.blue {
        margin: 0;
        margin-top: 15px;
    }
    .qa_radio {
        margin: 5px 0px;
    }
    .qa_radio_circle {
        border-radius: 10px;
    }
    .qa_radio.size_1 .qa_radio_circle {
        width: 200px;
        height: 25px;
    }
    .qa_radio.size_2 .qa_radio_circle {
        width: 160px;
        height: 25px;
    }
    .qa_radio.size_3 .qa_radio_circle {
        width: 120px;
        height: 25px;
    }
    .qa_radio.size_4 .qa_radio_circle {
        width: 80px;
        height: 25px;
    }
    .question_title {
        font-size: 22px;
    }
    .qa_side_label {
        font-size: 20px;
    }
    header .btn {
        font-size: 16px;
        padding: 10px;
        border-radius: 40px;
    }
    header .user_box {
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }
    .mob_menu_btn {
        margin-left: 20px;
    }
    header .logo {
        max-width: 120px;
        width: 120px;
    }
    .test_progress_percents {
        font-size: 18px;
    }
    .test_qa_step_wrpr .btn {
        font-size: 22px;
        padding: 6px 36px;
        border-radius: 40px;
    }
    .pick_prof_item {
        width: 100%;
        margin-bottom: 30px;
    }
    .see_result_wrpr .btn {
        font-size: 18px;
        padding: 8px 20px;
        border-radius: 40px;
    }
    .see_result_wrpr {
        margin-top: 10px;
    }
    .register_popup {
        width: 360px;
        padding: 15px;
    }
    .popup_title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .popup_subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .text_input {
        font-size: 14px;
        padding: 12px 0;
    }
    .select {
        width: 100%;
        background-size: 18px;
    }
    .select select {
        font-size: 14px;
        padding: 12px 0;
    }
    .register_popup_form .btn_wrpr .btn {
        font-size: 18px;
        padding: 6px 30px;
        border-radius: 40px;
    }
    .trinity_bordr_item .item_header p {
        font-size: 18px;
    }
    .trinity_bordr_item .item_header p b {
        font-size: 20px;
    }
    .trinity_bordr_item .item_p_text p {
        font-size: 18px;
    }
    .trinity_bordr_item .item_footer h3 {
        font-size: 20px;
    }
    .trinity_test_access_s.trinity_access_two_page .container > .s_subtitle {
        max-width: 100%;
    }
    .trinity_test_access_s.trinity_access_two_page .container > .s_title {
        max-width: 100%;
    }
    .tf-result-wrap.result_designer h1,
    .tf-result-wrap h1 {
        font-size: 22px;
        line-height: 24px;
    }
    .tf-result-wrap p {
        font-size: 20px;
    }
    .trinity_bordr_items_wrpr.without_scale div.trinity_bordr_item {
        width: 100%;
    }
    .trinity_bordr_items_wrpr.without_scale .trinity_bordr_item:nth-child(1) {
        border-radius: 20px 20px 0 0;
        margin: 0;
    }
    .trinity_bordr_items_wrpr.without_scale .trinity_bordr_item:nth-child(2) {
        border-radius: 0 0 20px 20px;
        margin: 0;
        transform: none;
        border-top: 0;
    }
    .without_scale .trinity_bordr_item .item_p_text {
        min-height: inherit;
    }
    .without_scale .trinity_bordr_item .item_header {
        min-height: inherit;
    }
    .trinity_bordr_item .item_footer {
        margin-top: 20px;
    }
    .trinity_bordr_item .item_footer h3 {
        margin-bottom: 10px;
    }
    .privacy_policy_page.page_content .header_content .title {
        font-size: 20px;
        margin-bottom: 25px;
        padding-bottom: 15px;
    }
    .privacy_policy_page.page_content .header_content .last_modified {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .privacy_policy_page.page_content .body_content h2 {
        font-size: 24px;
        margin-bottom: 18px;
    }
    .privacy_policy_page.page_content .body_content p {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .privacy_policy_page.page_content .body_content blockquote {
        font-size: 16px;
        padding-left: 20px;
    }
    .privacy_policy_page.page_content .body_content ul li {
        font-size: 16px;
        font-size: 16px;
        line-height: 1.375;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    .privacy_policy_page.page_content .body_content ul li:before {
        width: 8px;
        height: 8px;
    }
    .top_section_image.top_section_image_2,
    .top_section_image_2 .module-content.module-content_2.module-content_2_1 {
        height: 80px;
    }
    .articles {
        padding-top: 20px;
    }
    .articles_page .module-post .post .post_body .title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }
    .module-post .post .post_body .title:before {
        bottom: -17px;
    }
    .articles_page .btn {
        font-size: 16px;
        padding: 6px 22px;
    }
    .btn.btn_no_bg {
        border-radius: 40px;
    }
    .articles_page .module-post .post .post_footer .cat {
        font-size: 18px;
    }
    .articles_page .module-post.module-post_1 .post .post_body .title {
        font-size: 25px;
    }
    .module-post.module-post_1 .post {
        margin-bottom: 0;
    }
    .categories_list .sub_list {
        padding-left: 20px;
    }
}

@media(max-width: 576px){
    .test_top_s .titles_wrpr h1 {
        font-size: 25px;
        line-height: 28px;
    }
    header .btn {
        display: none;
    }
    header .menu li a.take_the_test_mob {
        display: block;
        color: #ED756A;
    }
    .test_progress_line {
        height: 8px;
    }
    .qa_row {
        max-width: 100%;
    }
    .triple_lists_block .simple_list {
        width: 100%;
    }
    .pick_prof_item .img_wrpr {
        height: 320px;
    }
    .youre_top_text_block {
        flex-direction: column;
    }
    .youre_top_text_item {
        padding: 0;
        margin: 10px 0;
    }
    .youre_top_text_block .youre_top_text_item:first-child:after {
        display: none;
    }
    .register_popup {
        width: 300px;
    }
    .top_titles_s .titles_wrpr h1 {
        font-size: 26px;
        line-height: 30px;
    }
    .top_titles_s .titles_wrpr {
        padding: 20px 0;
    }
}