@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input[type=button] {
  cursor: pointer; }

input {
  outline: none; }

li {
  list-style: none; }

body {
  min-width: 300px;
  position: relative;
  font-family: 'Lato', sans-serif; }

img {
  max-width: 100%;
  vertical-align: bottom;
  /*╨з╤В╨╛ ╨▒╤Л ╤Г╨▒╤А╨░╤В╤М ╤Б╤В╤А╨░╨╜╨╜╤Л╨╣ ╨╛╤В╤Б╤В╤Г╨┐ ╤Г ╨║╨░╤А╤В╨╕╨╜╨║╨╕*/ }

video {
  vertical-align: bottom;
  /*╨з╤В╨╛ ╨▒╤Л ╤Г╨▒╤А╨░╤В╤М ╤Б╤В╤А╨░╨╜╨╜╤Л╨╣ ╨╛╤В╤Б╤В╤Г╨┐ ╤Г ╨║╨░╤А╤В╨╕╨╜╨║╨╕*/ }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

@media (min-width: 320px) and (max-width: 450px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: none; } }
@media (min-width: 451px) and (max-width: 767.98px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 540px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 720px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1200px; } }
.row {
  display: flex; }

/*# sourceMappingURL=reset.css.map */
