@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,900&display=swap');
* {
    font-family: "Nunito", sans-serif;
}

.tab_class_content_wrpr {
    text-align: center;
}
.tab_class_content_wrpr h2 {
    margin: 20px 0;
    font-weight: 600;
}
.referral-banner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff3d8;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
    margin: 0px 30px;
}
.referral-banner .top_title {
    font-weight: 600;
    margin-top: 5px;
}
img.referal_picture {
    margin-top: 32px !important;
}
.header_logo {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 7px;
}
.courses_items_wrpr .course-item {
    margin-bottom: 0;
    box-shadow: none;
    border-radius: inherit;
    font-family: "Nunito", sans-serif;
}
.course-item .img-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 55%;
}
.course-item .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.course-item .star-list {
    margin-bottom: 15px;
}
.star-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.star-list.small li {
    margin-right: 9px;
}
.star-list.small li svg {
    width: 20px;
    height: 20px;
}
.course-item .course-name {
    font-size: 16px;
    font-weight: 600;
    color: #004FEF;
    line-height: 130%;
    margin-bottom: 7px;
    font-family: "Nunito", sans-serif;
    display: block;
}
.course-item .content-inner {
    padding: 20px;
}
.course-item .course-author {
    color: #424242;
    font-size: 14px;
    font-weight: bold;
    line-height: 130%;
    margin-bottom: 10px;
}
.course-item .duration,
.course-item .students {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #424242;
    margin-bottom: 9px;
}
.courses_items_wrpr .card {
    overflow: hidden;
}
.stats_courses_left_right {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.card-body .stats_courses_group:last-child {
    border-bottom: 0;
}
.stats_courses_left_right h3 {
    font-size: 20px;
    font-weight: 600;
    color: #424242;
    line-height: 30px;
}
.stats_courses_left_right h4 {
    font-size: 18px;
    font-weight: 600;
    color: #004FEF;
    line-height: 30px;
}
.stats_courses_group {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.stats_label {
    font-size: 20px;
    color: #424242;
    line-height: 30px;
    font-weight: 600 !important;
}
.stats_courses_group.in_progress a {
    font-size: 18px;
    font-weight: 600;
    color: #004FEF;
    line-height: 30px;
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
}
.course-section-item .lessons-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.course-section-item {
    padding: 10px 0 0;
}
.course-section-item ul li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #424242;
    font-size: 18px;
}
.course-section-item ul li .lessons-about {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.course-section-item ul li .lessons-about .icon {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-right: 10px;
}
.course-section-item ul li.unlocked.video svg path {
    fill: #E60000;
}
.course-section-item ul li.unlocked.skill svg path {
    fill: #6900EF;
}
.course-section-item ul li.unlocked.quizz svg path {
    fill: #0BBB86;
}
.course_info_modal .course_icons_list {
    padding: 0;
    margin: 0;
}
.direct-chat-messages {
    height: calc(100vh - 270px);
}
.redactor_form .cke_chrome {
    border-radius: 12px;
    overflow: hidden;
}
.redactor_form .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
}
.redactor_form .bottom p {
    font-size: 18px;
    color: #424242;
}
.redactor_form .bottom .right {
    text-align: center;
}
.redactor_form .bottom .right p {
    font-size: 18px;
    color: #959595;
    margin-top: 10px;
    margin-bottom: 0;
}
.main-header .navbar-nav .humb_button .nav-link{
    color: #fff;
}
.btn-black {
    color: #fff;
    background-color: #343A40;
    border-color: #343A40;
    box-shadow: none;
}
.btn-black:hover {
    color: #fff;
    opacity: 0.8;
}
.btn-def-size {
    padding: 10px 26px;
    font-size: 14px;
    line-height: 19px;
    border-radius: .3rem;
}
.dlt-btn {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 18px;
}
.course-item .students {
    margin-bottom: 15px;
}
.header_s_title_wrpr {
    display: flex;
    align-items: center;
}
.header_s_title_wrpr .new_course_btn {
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    background: #0BBB86;
    border-radius: 3px;
    color: #fff;
    padding: 10px 12px;
}
.new_course_btn {
    display: flex;
    align-items: center;
}
.new_course_btn i {
    margin-right: 6px;
}
.card-primary .card-header  {
    padding: 20px;
}
.card-primary .card-header .card-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #157FFB;
    display: flex;
    align-items: center;
}
.card-primary .card-header .card-title i {
    margin-right: 6px;
    font-size: 18px;
}
.a_flex_start {
    align-items: flex-start;
}
.def_black_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #343A40;
    font-family: "Nunito", sans-serif;
}
.def_little_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #004FEF;
    font-family: "Nunito", sans-serif;
}
.stats_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar_stats_item {
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 10px;
}
.sidebar_stats_item li {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #424242;
    display: flex;
    align-items: center;
    font-family: "Nunito", sans-serif;
}
.sidebar_stats_item li.green_color {
    color: #0BBB86;
}
.sidebar_stats_item li:last-child {
    margin-bottom: 0;
}
.sidebar_stats_item li i {
    width: 23px;
    font-size: 16px;
}
.sidebar_stats_item li .icon_wrpr {
    width: 23px;
}
.stats_card .def_black_title {
    margin: 20px 0;
}
.stats_card .def_black_title:first-child {
    margin-top: 0;
}
.student_line_info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.student_line_info .img_wrpr {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 14px;
}
.student_line_info .img_wrpr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.student_line_info .student_name {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #343A40;
    font-family: "Nunito", sans-serif;
    margin-bottom: 0;
}
.title_with_dropdown {
    cursor: pointer;
    position: relative;
}
.title_dropdown {
    background: #fff;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 10px;
    z-index: 2;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    min-width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease-in-out;
}
.title_with_dropdown:hover .title_dropdown {
    visibility: visible;
    opacity: 1;
}
.title_dropdown li a {
    font-size: 16px;
    color: #343A40;
}
.content-header h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #343A40;
}
.courses_catalogues_page .btn-def-size {
    padding: 10px 18px;
}
.card-header.item_a_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-header.item_a_center:after {
    display: none;
}
.circle_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.circle_btn:hover {
    opacity: 0.8;
}
.circle_btn.red {
    background: #E50000;
}
.circle_btn.purple {
    background: #6900EF;
}
.circle_btn.green {
    background: #0BBB86;
}
.add_to_section_btns {
    display: flex;
    align-items: center;
}
.add_to_section_btns .circle_btn {
    margin-right: 10px;
}
.lesson_section_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #424242;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.lesson_section_title:before {
    width: 2px;
    height: 14px;
    display: block;
    content: "";
    background: url(../img/dots_icon.svg) no-repeat center;
    background-size: contain;
    margin-right: 9px;
}
.lesson_section_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 13px;
}
.edit_btns .edit_section_block,
.edit_btns .done_section_block{
    display: flex;
    align-items: center;
}
.edit_btns .done_section_block {
    display: none;
}
.white_edit_btn {
    padding: 0;
    border: 0;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    transition: 0.3s all ease-in-out;
}
.white_edit_btn:hover {
    opacity: 0.6;
}
.edit_btns .done_section_block .white_edit_btn  {
    color: #0BBB86;
    margin-left: 10px;
}
.edit_btns .edit_section_block .white_edit_btn  {
    color: #157FFB;
    margin-right: 10px;
}
.white_edit_btn_delete {
    padding: 0;
    border: 0;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #E50000;
    transition: 0.3s all ease-in-out;
}
.white_edit_btn_delete:hover {
    opacity: 0.6;
}
.edit_btns .white_edit_btn_delete {
    margin-left: 10px;
}
.lesson_editor_section {
    border-bottom: 1px solid #F0F0F0;
}
.lesson_section_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.lesson_section_list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;
    cursor: pointer;
}
.lesson_section_list li:hover {
    background: #F9F9F9;
}
.lesson_section_list li.active {
    background: #F9F9F9;
}
.lesson_section_list li .left {
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.lesson_section_list li .icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.lesson_section_list li .icon svg {
    width: 21px;
    height: 21px;
}
.lesson_section_list li .icon.red svg path {
    fill: #E50000;
}
.lesson_section_list li .icon.purple svg path {
    fill: #6900EF;
}
.lesson_section_list li .icon.green svg path {
    fill: #0BBB86;
}
.minus_btn {
    width: 12px;
    height: 12px;
    padding: 0;
    border: 0;
    background: transparent;
    position: relative;
    transition: 0.15s all ease-in-out;
}
.minus_btn:hover {
    transform: scale(1.2);
}
.minus_btn:after {
    width: 12px;
    height: 2px;
    background: #E50000;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    content: "";
    display: block;
}
.lesson_editor_section .minus_btn {
    margin-right: 10px;
    display: none;
}
.lesson_editor_section.edit_state .minus_btn {
    display: block;
}
.lesson_editor_section.edit_state .edit_section_block {
    display: none;
}
.lesson_editor_section.edit_state .done_section_block {
    display: flex;
}
.wide_video_box {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.video-placeholder {
    display: flex;
    position: relative;
}
.wide_video_box .video-placeholder:after {
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    position: absolute;
    left: 0;
    top: 0;
}
.video-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-play-btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 71px;
    height: 71px;
    border: 3px solid #fff;
    opacity: 0.6;
    border-radius: 10em;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.wide_video_box .video_time_info {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
    right: 20px;
    bottom: 20px;
}
.video_uploadblock {
    padding: 20px;
}
.video_timeline {
    position: relative;
    height: 62px;
    margin-top: 23px;
    margin-bottom: 25px;
}
.video_timeline .video_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video_timeline .video_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video_timeline_handler {
    width: 10px;
    height: 70px;
    background: #343A40;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: -4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.start_timeline {
    left: 0%;
}
.end_timeline {
    left: 85%;
}
.video_timeline_handler span {
    width: 10px;
    height: 10px;
}
.video_timeline_handler.start_timeline span {
    background: url(../img/little_arrow_left.svg) no-repeat center;
}
.video_timeline_handler.end_timeline span {
    background: url(../img/little_arrow_right.svg) no-repeat center;
}
.video_uploadblock .shadow_line {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(15% - 10px);
    height: 62px;
    background: rgba(0, 0, 0, 0.4);
}
.video_uploadblock .btn_wrpr {
    display: flex;
    justify-content: flex-end;
}
.quiz_editor_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #424242;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.quiz_editor_section .lesson_section_list li .left {
    width: 100%;
    padding-right: 0;
}
.quiz_textarea {
    background: #F9F9F9;
    border-radius: 3px;
    padding: 10px 12px;
    resize: vertical;
    display: block;
    width: 100%;
    border: 0;
}
.quiz_textarea p {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #343A40;
}
.quiz_editor_section .lesson_section_list li {
    padding: 5px 20px;
}
.quiz_editor_section .lesson_section_list li:hover {
    background: #fff;
}
.quiz_textarea.answer {
    background: #E2FEEF;
}
.quiz_textarea.answer p {
    color: #0A7A59;
}
.quiz_editor_section {
    padding-bottom: 10px;
    border-bottom: 0;
}
.quiz_editor_section .lesson_section_header {
    padding-top: 10px;
}
.quiz_editors_wrpr {
    padding-top: 10px;
}
.wide_video_box.empty_video .video-placeholder:after {
    display: none;
}
.card_body_full_h {
    min-height: calc(100vh - 225px);
}
.card-header.item_a_center .def_black_title {
    margin-bottom: 0;
}
.consultation_page .m-list-items .m-item {
    padding: 20px;
}
.consultation_page .m-list-items .m-item .btn-success {
    margin-left: auto;
}
.ui-datepicker.ui-datepicker-multi {
    display: flex !important;
    width: 100% !important;
    flex-wrap: wrap;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: none;
    display: block;
    width: 100%;
}
.calendar_wrpr {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 3px;
}
.calendar_wrpr_top {
    display: flex;
}
.datepicker_months {
    min-width: 172px;
    width: 172px;
    flex: 1;
    height: 100%;
    max-height: calc(100vh - 270px);
    overflow-y: auto;
}
.datepicker_months ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.datepicker_months ul li {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #343A40;
    padding: 10px 24px;
    cursor: pointer;
}
.datepicker_months ul li:hover {
    background: #F0F0F0;
}
.datepicker_months ul li span {
    opacity: 0.5;
}
.datepicker_wrpr {
    max-height: calc(100vh - 270px);
    overflow-y: auto;
}
.calendar_choose {
    border-top: 1px solid #F4F4F4;
}
.calendar_choose_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
}
.calendar_choose_header .def_black_title {
    margin-bottom: 0;
}
.calendar_choose_header .def_black_title span {
    font-weight: normal;
}
.calendar_choose_body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 20px;
}
.calendar_choose_item {
    background: #F7F7F7;
    border-radius: 3px;
    padding: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #343A40;
    margin-right: 10px;
    margin-bottom: 10px;
}
.ui-datepicker td span, .ui-datepicker td a {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.ui-datepicker td a.ui-state-default {
    background: transparent;
    border: 0;
}
.ui-datepicker td a.ui-state-active {
    background: #157FFB;
    color: #fff;
}
.ui-datepicker-calendar td.ui-state-highlight {
    border: 1px solid transparent;
    background: transparent;
    color: transparent;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #157FFB;
    color: #fff;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    background: transparent;
    border: 0;
    padding: 0;
}
.ui-datepicker .ui-datepicker-title {
    text-align: left;
    margin: 0 2.2em;
}
.blog_page .course-item .post-add {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #D1D1D1;
}
.blog_page .course-item .course-descr p {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #424242;
}
.blog_page .course-item .learn-more {
    font-size: 16px;
    line-height: 150%;
}
.blog_page .course-item .course-descr {
    margin-bottom: 10px;
}
.top_seacrh_line .select-style {
    margin-left: 20px;
    margin-right: 10px;
    min-width: 270px;
}
.search_input_wrpr {
    min-width: 340px;
}
.top_seacrh_line .form-control {
    font-size: 14px;
    line-height: 19px;
    color: #343A40;
}
.search_input_wrpr .form-control {
    padding-left: 36px;
    background: #fff url(../img/search_icon.svg) no-repeat 13px 10px;
}
.top_seacrh_line .form-control::placeholder {
    color: #343A40;
}
.lesson_section_list .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #424242;
}
.std-list-items-wrap.card_body_full_h {
    min-height: calc(100vh - 43px);
}


@media (max-width: 1300px) {
    .ui-datepicker td span,
    .ui-datepicker td a {
        width: 36px;
        height: 36px;
    }
    .consultation_page .m-list-items .m-item .btn-success {
        font-size: 13px;
    }
    .m-list-items .m-item .m-item-info .name {
        font-size: 14px;
    }
}
@media (max-width: 1199px) {
    .ui-datepicker td span,
    .ui-datepicker td a {
        width: 32px;
        height: 32px;
        font-size: 12px;
    }
    .datepicker_months {
        display: none;
    }
    .direct-chat .direct-chat-messages.video_chat {
        height: inherit;
    }
}
@media (max-width: 991px) {
    .row.col-lg-8.courses_items_wrpr {
        padding: 0;
        margin: 0;
    }
    .std-list-items-wrap.card_body_full_h {
        min-height: auto;
        height: 340px;
        margin-bottom: 20px;
    }
    .top_seacrh_line {
        flex-direction: column;
        align-items: flex-start;
    }
    .top_seacrh_line .select-style {
        margin: 10px 0;
        width: 100%;
    }
    .search_input_wrpr {
        min-width: auto;
        width: 100%;
    }
    .table_for_mob_wrpr {
        overflow-x: auto;
    }
    .table_for_mob_wrpr table {
        white-space: nowrap;
    }
    .students_s {
        margin-bottom: 10px;
    }
}
@media (max-width: 767px) {
    .main-sidebar.elevation-4 {
        box-shadow: none !important;
    }
    .header_s_title_wrpr {
        flex-direction: column;
        align-items: flex-start;
    }
    .header_s_title_wrpr .new_course_btn {
        margin: 5px 0;
    }
    .content-header .breadcrumb li {
        font-size: 13px;
    }
    .direct-chat .control-right {
        width: 100%;
        justify-content: space-between;
    }
}
@media (max-width: 576px) {
    .referral-banner {
        margin: 0;
    }
    .referral-banner .btn.btn-success {
        white-space: nowrap;
    }
    .index_tab img {
        max-width: 100%;
    }
    .header_logo {
        font-size: 24px;
    }
    .row.courses_items_wrpr {
        margin: 0;
    }
    .title_dropdown li a {
        font-size: 13px;
    }
    .lesson_section_title {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 10px;
    }
    .lesson_section_header {
        flex-direction: column;
        align-items: flex-start;
    }
    .lesson_section_header .edit_btns {
        width: 100%;
    }
    .edit_btns .edit_section_block,
    .edit_btns .done_section_block {
        justify-content: space-between;
    }
    .edit_btns .edit_section_block {
        flex-direction: row-reverse;
    }
    .card-header.item_a_center {
        flex-direction: column;
    }
    .card-primary .card-header.item_a_center .card-title {
        margin-bottom: 10px;
    }
    .content-header .breadcrumb {
        line-height: 1rem;
        margin-top: 10px;
    }
    .consultation_page .m-list-items .m-item .m-item-info .name {
        font-size: 14px;
    }
    .ui-datepicker td span,
    .ui-datepicker td a {
        width: 27px;
        height: 27px;
        font-size: 11px;
    }
    .calendar_choose_header {
        flex-direction: column;
    }
    .calendar_choose_header .def_black_title {
        margin-bottom: 10px;
    }
    .calendar_choose_item {
        width: 100%;
        margin-right: 0;
    }
    .video-call .img-small {
        width: 70px;
        height: 60px;
        overflow: hidden;
        top: 10px;
        right: 10px;
    }
    .video-call .img-small img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.table td, .table th {
    vertical-align: middle !important;
}

.logo_img {
    max-width: 200px;
    margin: 0 0 30px 0;
}

.note-editor.note-frame .note-editing-area {
    min-height: 300px;
}

.icon_thumbnails {
    max-width: 300px;
}

.icon_thumbnails img {
    max-width: 100%;
}